<div ng-if="!openMenu"  class="icon-open-menu">
    <span class="fui-list" ng-click="toggleMenu()"></span>
</div>
<div class="content-menu open-menu" ng-if="openMenu">
    <div class="menu-title">
        <span class="menu-title-span">{{pluginSelected}}</span>
        <span ng-click="toggleMenu()" class="icon-title-menu fui-cross"></span>
    </div>
    <div class="menu-options active">Result</div>
</div>
