<qVast id="pluginMenuView" ui-view="pluginMenu" ng-cloak="">
    <div ng-if="!openMenu"  class="icon-open-menu">
        <span class="fui-list" ng-click="toggleMenu()"></span>
    </div>
    <div class="content-menu open-menu" ng-if="openMenu">
        <div class="menu-title">
            <span class="menu-title-span">{{pluginSelected}}</span>
            <span ng-click="toggleMenu()" class="icon-title-menu fui-cross"></span>
        </div>
        <div class="menu-options active" ng-click="selectTab(1,$event)">BANDWIDTH SELECTION</div>
        <div class="menu-options" ng-click="selectTab(2,$event)">GAUSIAN KERNEL</div>
        <div class="menu-options" ng-click="selectTab(3,$event)">FINAL SUSCEPTIBILITY MAP</div>
    </div>
</qVast>
<div class="tabs" ng-show="tab == 1">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">BANDWIDTH SELECTION</div>
            <div class="panel-body">

                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: left">
                        <div>- LINEAR VOLCANIC STRUCTURES</div>
                        <div>- ERUPTIVE VENTS</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: left">
                        <div>- ERUPTIVE VENTS</div>
                    </div>
                </div>

                <div class="line-separator"></div>

                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <input id="inputLeft" type="file" class="file file-input" data-show-preview="false" ng-show="!!bw.method && bw.method === 'lscv'">
                            </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <input id="inputRight" type="file" class="file file-input" data-show-preview="false" ng-show="!!bw.method && bw.method === 'hpi' || bw.method === 'silverman'">
                        </div>
                    </div>
                </div>
                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                            <div class="col-lg-12" style="text-align: left">
                                <input type="radio" style="margin-right: 2%" class="plugin-input" ng-model="bw.method" value="lscv" id="lscv"> <span>LSCV by Cappello et al. (2012)</span><br/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                            <div class="col-lg-12" style="text-align: left">
                                <input type="radio" style="margin-right: 2%" class="plugin-input" ng-model="bw.method" value="silverman" id="silverman"><span>h_opt score by Silverman (1986)</span><br/>
                                <input type="radio" style="margin-right: 2%" class="plugin-input" ng-model="bw.method" value="hpi" id="hpi"><span>SAMSE selector by Connor et al. (2012)</span><br/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="line-separator"></div>

                <div class="row separator-row" style="margin-top: 10%">
                    <div class="col-lg-3 col-md-3 col-sm-5">
                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: left">
                                <input type="radio" style="margin-right: 2%" class="plugin-input" ng-model="bw.method" value="manual" id="manual"> <span>Manual Selection</span><br/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-7">
                        <div class="form-group">
                            <div class="col-lg-10 col-md-10 col-sm-10" style="text-align: left">
                                <input type="text" style="margin-right: 2%" class="plugin-input" name="manualBWValue" id="manualBWValue" ng-model="bw.manualBWValue" ng-disabled="!bw.manualBW"> <span>meters</span><br/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row separator-row" style="margin-top: 10%">
                    <div class="col-lg-4 col-md-4 col-sm-5">
                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: left">
                                <button ng-click="calculateBW()">CALCULATE BANDWIDTH</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-7 col-sm-7">
                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: left">
                                <input type="text" style="margin-right: 2%" class="plugin-input" name="evaluateBWValue" id="constantSusceptibility" ng-model="bw.evaluatedBW" readonly> <span>meters</span><br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tabs tabs-result" ng-show="tab == 2">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">BANDWIDTH SELECTION</div>
            <div class="panel-body">
            <div class="row separator-row" style="margin-top: 5%">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <!--<div class="form-group">-->
                    <label for="demBandwidth" class="col-lg-2 col-md-2 col-sm-2 control-label">SELECT DEM</label>
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <input id="demBandwidth" type="file" class="file file-input" data-show-preview="false">
                    </div>
                    <!--</div>-->
                </div>
            </div>
            <div class="row separator-row" style="margin-top: 5%">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <label id="label_extent" class="control-label">LAYER EXTENT</label>
                </div>
            </div>

            <div class="line-separator"></div>
            <div class="row separator-row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 control-label">North</label>
                        <div class="col-lg-9">
                            <input type="text" ng-model="pdf.north" class="form-control plugin-input" id="nParameter">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 control-label">South</label>
                        <div class="col-lg-9">
                            <input type="text" ng-model="pdf.south" class="form-control plugin-input" id="sParameter">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 control-label">East</label>
                        <div class="col-lg-9">
                            <input type="text" ng-model="pdf.east" class="form-control plugin-input" id="eParameter">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 control-label">West</label>
                        <div class="col-lg-9">
                            <input type="text" ng-model="pdf.west" class="form-control plugin-input" id="wParameter">
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-separator" style="margin-top: 2%;margin-bottom: 2%"></div>
            <div class="row separator-row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 control-label">RESOLUTION</label>
                        <div class="col-lg-9">
                            <input type="text" ng-model="pdf.resolution" class="form-control plugin-input" id="rParameter" placeholder="in meters">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 control-label">BANDWIDTH</label>
                        <div class="col-lg-9">
                            <input type="text" ng-model="bw.evaluatedBW" class="form-control plugin-input" id="bwParameter"  placeholder="in meters">
                        </div>
                    </div>
                </div>
            </div>

            <div class="line-separator" style="margin-top: 2%;margin-bottom: 2%"></div>
            <div class="row separator-row">
                <div class="col-xs-offset-3 col-xs-6" style="text-align: center">
                    <button ng-click="generatePDF()">GENERATE PDF</button>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="tabs tabs-result" ng-show="tab == 3">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">FINAL SUSCEPTIBILITY MAP</div>
            <div class="panel-body">
                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center">
                        <div id="label_1" >Select PDF layers to evaluate the final susceptibility map</div>
                    </div>
                </div>
                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-8 col-md-8 col-sm-8" style="text-align: center">
                        <div id="labelLayers" >Layers</div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4" style="text-align: center">
                        <div id="labelWeigh" >Weight</div>
                    </div>
                </div>
                <div class="row separator-row" style="margin-top: 3%" ng-repeat="foo in layers">
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <!--<div class="form-group">-->
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input id="pdfLayer-1" type="file" class="inputPdfLayers file file-input" data-show-preview="false">
                        </div>
                        <!--</div>-->
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4" style="text-align: center">
                        <input type="text" class="form-control plugin-input" id="nParameter" ng-model="susceptibility.weight[foo]" placeholder="weight">
                    </div>
                </div>

                <div class="row separator-row" style="margin-top: 10%">
                    <div class="col-xs-offset-4 col-xs-4">
                        <button ng-click="addLayer()">Add layer</button>
                        <button ng-click="removeLayer()">Remove layer</button>
                    </div>
                </div>

                <div class="row separator-row" style="margin-top: 8%">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!--<div class="form-group">-->
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            Resolution
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5" style="text-align: center">
                            <input type="text" class="form-control plugin-input" id="nParameter" ng-model="susceptibility.resolution" placeholder="in meters">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4" style="text-align: center">
                            <button ng-click="calculateSusceptibility()">CALCULATE SUSCEPTIBILITY</button>
                        </div>

                        <!--</div>-->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>