<div id="pluginMenuView" ui-view="pluginMenu" ng-cloak="">
    <div ng-if="!openMenu"  class="icon-open-menu">
        <span class="fui-list" ng-click="toggleMenu()"></span>
    </div>
    <div class="content-menu open-menu" ng-if="openMenu">
        <div class="menu-title">
            <span class="menu-title-span">{{pluginSelected}}</span>
            <span ng-click="toggleMenu()" class="icon-title-menu fui-cross"></span>
        </div>
        <div class="menu-options" ng-class="tab==1?'active':''" ng-click="selectTab(1,$event)">Data</div>
        <div class="menu-options" ng-class="tab==10?'active':''" ng-show="result ==true " ng-click="selectTab(10,$event)">Unrest</div>
        <div class="menu-options" ng-class="tab==11?'active':''" ng-show="result ==true " ng-click="selectTab(11,$event)">Hazard</div>
        <div class="menu-options" ng-class="tab==12?'active':''" ng-show="result ==true " ng-click="selectTab(12,$event)">Scenario</div>
    </div>
</div>
<div class="tabs first-page-hasset" ng-show="tab == 1">
    <div class="container">
        <div class="panel panel-default" >
            <div class="panel-heading" style="background-color: #34495E;color: white;">Data</div>
            <div class="panel-body">
                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5">
                        <label id="label_1" class="control-label">input parameters</label>
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="row separator-row" style="margin-top: 5%;margin-bottom: 5%">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="linePointsPath" class="col-lg-2 col-md-2 col-sm-3 col-xs-3 control-label">Points Path</label>
                            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                                <input id="linePointsPath" type="file" class="file file-input" data-show-preview="false">
                            </div>
                        </div>
                    </div>
                    <div class="row-table-points col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 2%;">

                        <table border="1" style="width: 80%;margin: 0 auto">
                            <thead>
                                <tr>
                                    <th>NODE NAME</th>
                                    <th>EVENT</th>
                                    <th>PAST DATA</th>
                                    <th>PRIOR WEIGHT</th>
                                    <th>DATA WEIGHT</th>
                                    <th>PROBABILITY ESTIMATE</th>
                                    <th>STANDARTD DESVIATION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in csvData track by $index" ng-if="$index != 0">
                                    <td ng-repeat="data in row track by $index" ng-style="$index == 0?'width:100px':''">
                                        <input ng-value="data" ng-model="csvData[$parent.$index][$index]" style="width: 100%"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-12">
                        <label id="label_1" class="control-label">SAVE THE .csv PROBABILITIES RESULT</label>
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="row separator-row row-probabilities"  style="margin-top: 5%">
                    <div class="col-lg-4 col-md-4 col-sm-4 ">
                        <!--<div class="form-group">-->
                            <div class=" control-label">Dataset Time Windows (years)</div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control plugin-input" id="lineEditDataTW" ng-model="lineEditDataTW">
                            </div>
                        <!--</div>-->
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 ">
                        <div class="form-group">
                            <div class="control-label">Probability estimate Time Window (years)</div>
                            <div class="col-lg-12">
                                <input type="text" class="form-control plugin-input" id="lineEditProbTW" ng-model="lineEditProbTW">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 ">
                        <div class="form-group">
                            <div class=" control-label">Number of Time Windows</div>
                             <div class="col-lg-12">
                                <input type="text" class="form-control plugin-input" id="lineEditNTW" ng-model="lineEditNTW">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tabs second-page-hasset" ng-show="tab == 10">
    <div class="container">
        <div class="panel panel-default" >
            <div class="panel-heading" style="background-color: #34495E;color: white;">Unrest</div>
            <div class="panel-body">
                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-3 col-lg-3 col-md-3 col-sm-4 col-xs-5">
                        <label id="label_1" class="control-label">input parameters</label>
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="row separator-row">
                    <div class="row-table-unrest col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <!--<label class="col-lg-3 control-label">West</label>-->
                            <table style="width: 100%;">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>PAST DATA</th>
                                    <th>PRIORI WEIGHT</th>
                                    <th>DATA WEIGHT</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>YES</td>
                                    <td><input style="text-align: center" ng-value="unrest['past data'].yes"/></td>
                                    <td><input style="text-align: center" ng-value="unrest['prior weight'].yes"/></td>
                                    <td><input style="text-align: center" ng-value="unrest['data weight'].yes"/></td>
                                </tr>
                                <tr>
                                    <td>NO</td>
                                    <td><input style="text-align: center" ng-value="unrest['past data'].no"/></td>
                                    <td><input style="text-align: center" ng-value="unrest['prior weight'].no"/></td>
                                    <td><input style="text-align: center" ng-value="unrest['data weight'].no"/></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="row separator-row">
                    <div class="row-table-unrest col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <!--<label class="col-lg-3 control-label">West</label>-->
                            <table style="width: 50%;">
                                <thead>
                                <tr>
                                    <th>PROBABILITY ESTIMATE</th>
                                    <th>STANDARD DEVIATION</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><input style="text-align: center" ng-value="unrest['probability estimate'].yes"/></td>
                                    <td><input style="text-align: center" ng-value="unrest['standard deviation'].yes"/></td>
                                </tr>
                                <tr>
                                    <td><input style="text-align: center" ng-value="unrest['probability estimate'].no"/></td>
                                    <td><input style="text-align: center" ng-value="unrest['standard deviation'].no"/></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tabs third-page-hasset" ng-show="tab == 11">
    <div class="container">
        <div class="panel panel-default" >
            <div class="panel-heading" style="background-color: #34495E;color: white;">Hazard</div>
            <div class="panel-body">
                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5">
                        <label id="label_1" class="control-label">input parameters</label>
                    </div>
                </div>
                <div class="line-separator"></div>
                    <div class="row-table-hazard col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <table style="width: 100%;" >
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>PAST DATA</th>
                                        <th>PRIORI WEIGHT</th>
                                        <th>DATA WEIGHT</th>
                                        <th>PROBABILITY ESTIMATE</th>
                                        <th>STANDARD DEVIATION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="(key,value) in hazard">
                                    <td>{{key}}</td>
                                    <td ng-repeat="(key2,value2) in value">{{value2}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- DivTable.com -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tabs four-page-hasset" ng-show="tab == 12">
    <div class="container">
        <div class="panel panel-default" >
            <div class="panel-heading" style="background-color: #34495E;color: white;">Scenario</div>
            <div class="panel-body">
                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-3 col-lg-3 col-md-3 col-sm-4 col-xs-5 ">
                        <label id="label_1" class="control-label">Unrest</label>
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="row separator-row">
                    <div class="group-scenario col-lg-5 col-md-5 col-sm-5 col-xs-5" ng-repeat="scenarioUnrest in resultCsv['result']['unrest']">
                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <input type="radio" name="unrest" ng-model="scenario.unrest" value="{{scenarioUnrest['event']=='Yes' ? 1:0}}" id="sParameter">
                            </div>
                            <label class="col-lg-9 col-md-9 col-sm-9 control-label">
                                {{scenarioUnrest['event']}}
                                <span class="description-probability">{{scenarioUnrest['probability estimate']}}</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-3 col-lg-3 col-md-3 col-sm-4 col-xs-5">
                        <label id="label_1" class="control-label">ORIGIN</label>
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="row separator-row">
                    <div class="group-scenario col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-repeat="scenarioOrigin in resultCsv['result']['origin']">
                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <input type="radio" name="origin" ng-model="scenario.origin"
                                       value="{{scenarioOrigin['event']=='Magmatic' ? 0: scenarioOrigin['event']=='Geothermal' ? 1 : scenarioOrigin['event']=='Seismic' ? 2 : 3 }}" id="sParameter">
                            </div>
                            <label class="col-lg-9 col-md-9 col-sm-9 control-label">
                                {{scenarioOrigin['event']}}
                                <span class="description-probability">{{scenarioOrigin['probability estimate']}}</span>
                            </label>

                        </div>
                    </div>
                </div>
                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-3 col-lg-3 col-md-3 col-sm-4 col-xs-5">
                        <label id="label_1" class="control-label">OUTCOME</label>
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="row separator-row">
                    <div class="group-scenario col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-repeat="scenarioOutcome in resultCsv['result']['outcome']">
                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <input type="radio" name="outcome" ng-model="scenario.outcome"
                                       value="{{scenarioOutcome['event']=='Magmatic eruption' ? 0: scenarioOutcome['event']=='Sector failure' ? 1 : scenarioOutcome['event']=='Phreatic explosion' ? 2 : 3 }}" id="sParameter">
                            </div>
                            <label class="col-lg-9 col-md-9 col-sm-9  control-label">
                                {{scenarioOutcome['event']}}
                                <span class="description-probability">{{scenarioOutcome['probability estimate']}}</span>
                            </label>

                        </div>
                    </div>
                </div>
                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-3 col-lg-3 col-md-3 col-sm-4 col-xs-5">
                        <label id="label_1" class="control-label">LOCATION</label>
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="row separator-row">
                    <div class="group-scenario col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-repeat="scenarioLocation in resultCsv['result']['location']">
                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <input type="radio" name="location" ng-model="scenario.location"
                                       value="{{$index }}" id="sParameter">
                            </div>
                            <label class="col-lg-9 col-md-9 col-sm-9 col-xs-9 control-label">
                                {{scenarioLocation['event']}}
                                <span class="description-probability">{{scenarioLocation['probability estimate']}}</span>
                            </label>

                        </div>
                    </div>
                </div>
                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-3 col-lg-3 col-md-3 col-sm-4 col-xs-5">
                        <label id="label_1" class="control-label">COMPOSITION</label>
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="row separator-row">
                    <div class="group-scenario col-lg-3 col-md-3 col-sm-3 col-xs-3 " ng-repeat="scenarioComposition in resultCsv['result']['composition']">
                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <input type="radio" name="composition" ng-model="scenario.composition" value="{{scenarioComposition['event']=='Mafic' ? 0:1}}" id="sParameter">
                            </div>
                            <label class="col-lg-9 col-md-9 col-sm-9 col-xs-9 control-label">
                                {{scenarioComposition['event']}}
                                <span class="description-probability">{{scenarioComposition['probability estimate']}}</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-3 col-lg-3 col-md-3 col-sm-4 col-xs-5">
                        <label id="label_1" class="control-label">SIZE</label>
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="row separator-row">
                    <div class="group-scenario col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-repeat="scenarioSize in resultCsv['result']['size']">
                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <input type="radio" name="size" ng-model="scenario.size" value="{{$index}}" id="sParameter">
                            </div>
                            <label class="col-lg-9 col-md-9 col-sm-9 col-xs-9 control-label">
                                {{scenarioSize['event']}}
                                <span class="description-probability">{{scenarioSize['probability estimate']}}</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-3 col-lg-3 col-md-3 col-sm-4 col-xs-5">
                        <label id="label_1" class="control-label">HAZARD</label>
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="row separator-row">
                    <div class="group-scenario col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-repeat="scenarioHazard in resultCsv['result']['hazard']">
                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <input type="checkbox" name="hazard" ng-model="scenario.hazard[scenarioHazard['event']]"
                                       value="{{scenarioHazard['event']=='Ballistic' ? 0: scenarioHazard['event']=='Fallout' ? 1 : scenarioHazard['event']=='PDC' ? 2 : scenarioHazard['event']=='Lava flow'? 3 : scenarioHazard['event']=='Lahars'? 4 :scenarioHazard['event']=='Debris avalanche'? 5 : 6}}" id="sParameter">
                            </div>
                            <label class="col-lg-9 col-md-9 col-sm-9 col-xs-9 control-label">
                                {{scenarioHazard['event']}}
                                <span class="description-probability">{{scenarioHazard['probability estimate']}}</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-3">
                        <label id="label_1" class="control-label">EXTEND</label>
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="row separator-row">
                    <div class="group-scenario col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-repeat="scenarioExtend in resultCsv['result']['extent']">
                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <input type="radio" name="extend" ng-model="scenario.extent"
                                       value="{{scenarioExtend['event']=='Short' ? 0: scenarioExtend['event']=='Medium' ? 1 : 2 }}" id="sParameter">
                            </div>
                            <label class="col-lg-9 col-md-9 col-sm-9 col-xs-9 control-label">
                                {{scenarioExtend['event']}}
                                <span class="description-probability">{{scenarioExtend['probability estimate']}}</span>
                            </label>
                        </div>
                    </div>
                </div>
                <button class="button-scenario button-hasset btn-success" ng-click="clickScenario()" >Simulate Scenario</button>
                <button class="button-clear button-hasset btn-warning" ng-click="restartScenario()" >Clear</button>
                <!--<button class="btn-default" ng-click="downloadResult()" >Descargar Resultado</button>-->
                <div class="row separator-row" style="margin-top: 8%">
                    <div class="col-lg-3">
                        <label id="label_1" class="control-label">ESCENARIOS</label>
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="row separator-row">
                    <div class=" table-escenarios col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <table style="width: 100%;" >
                                <thead>
                                <tr>
                                    <th>SCENARIO</th>
                                    <th>PROBABILITY ESTIMATE</th>
                                    <th>STANDARD DEVIATION</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="value in scenarioResult track by $index">
                                    <td>{{value[0]}}</td>
                                    <td>{{value[1]}}</td>
                                    <td>{{value[2]}}</td>
                                </tr>
                                </tbody>
                                <tfoot style="border-top:1px solid black" ng-if="scenarioResult.length >1">
                                    <td>Total</td>
                                    <td>{{totalProvabilityEstimate}}</td>
                                    <td>{{totalStandardDeviation}}</td>
                                </tfoot>
                            </table>
                            <!-- DivTable.com -->
                        </div>
                    </div>
                </div>
                <div class="row separator-row">

                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <button class="btn btn-success" ng-click="clickRUN()" ng-if="tab == 1">RUN</button>
</div>