
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!--<div class="container-fluid">-->
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a style="text-decoration: none; color: #1abc9c;" ui-sref="home"><img class="logo-header" src="assets/img/logo_vetools.png">VolcanBox</a></li>

                <bootstrap-submenu ng-repeat="item in menuHeader" menu-item="item">
                </bootstrap-submenu>
                <!--<li class="dropdown" >-->
                    <!--<a class="dropdown-toggle" data-toggle="dropdown" ng-if="menu.subMenus!=null">-->
                        <!--<b class="caret" style="margin-right:2px"></b>-->
                    <!--</a>-->
                    <!--<a ng-if="menu.subMenus==null" ui-sref="pluginSelected({namePlugin : '{{menu.id}}'})" >{{menu.name}}</a>-->
                    <!--<ul class="dropdown-menu dropdown-menu_custom" ng-if="menu.subMenus!=null">-->
                        <!--<li ng-repeat="subMenu in menu.subMenus track by $index">-->
                            <!--<a class="button-menu-module" ui-sref="{{subMenu.id}}" ng-if="subMenu.subMenus==null">{{subMenu.name}}</a>-->

                            <!--<li class="menu-item dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-if="subMenu.subMenus!=null">{{subMenu.name}}</a>-->
                            <!--<ul class="dropdown-menu dropdown-menu_custom" ng-if="subMenu.subMenus!=null">-->
                                <!--<li class="menu-item " ng-repeat="subMenu2 in subMenu.subMenus track by $index">-->
                                    <!--<a class="button-menu-module" ui-sref="{{subMenu2.id}}">{{subMenu2.name}}</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
        <!--        <li class="menu-item dropdown" ng-repeat="menu in menuHeader track by $index">
                    <a  ui-sref="pluginSelected({namePlugin : '{{menu.id}}'})" ng-if="menu.subMenus==null">{{menu.name}}</a>
                    <a class="dropdown-toggle" data-toggle="dropdown" ng-if="menu.subMenus!=null">{{menu.name}} <b class="caret"></b></a>
                    <ul class="dropdown-menu" ng-if="menu.subMenus!=null" >
                        <li class="menu-item dropdown dropdown-submenu" ng-repeat="subMenu in menu.subMenus track by $index" >
                            <a ng-if="subMenu.subMenus==null" ui-sref="{{subMenu.id}}" >{{subMenu.name}}</a>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-if="subMenu.subMenus!=null">{{subMenu.name}}</a>
                            <ul class="dropdown-menu dropdown-submenu" ng-if="subMenu.subMenus!=null">
                                <li class="menu-item " ng-repeat="subMenu2 in subMenu.subMenus track by $index"><a ui-sref="{{subMenu2.id}}"  href="#">{{subMenu2.name}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>-->

                <!--
                <li class="dropdown"><a ui-sref="qlava">QLAVA</a></li>
                <li class="dropdown"><a ui-sref="programmi">Programmi</a></li>
                <li class="dropdown"><a ui-sref="hasset">hasset</a></li>
                -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    <!--</div>-->
    <!-- /.container-fluid -->
</nav>

