<div id="pluginMenuView" ui-view="pluginMenu" ng-cloak="">
    <div ng-if="!openMenu"  class="icon-open-menu">
        <span class="fui-list" ng-click="toggleMenu()"></span>
    </div>
    <div class="content-menu open-menu" ng-if="openMenu">
        <div class="menu-title">
            <span class="menu-title-span">{{pluginSelected}}</span>
            <span ng-click="toggleMenu()" class="icon-title-menu fui-cross"></span>
        </div>
        <div class="menu-options" ng-class="{'active': tab==1}" ng-click="selectTab(1,$event)">General Parameters</div>
        <div class="menu-options" ng-class="{'active': tab==2}" ng-click="selectTab(2,$event)">Settling velocity</div>
        <div class="menu-options" ng-class="{'active': tab==3}" ng-click="selectTab(3,$event)">Eruption</div>
        <div class="menu-options" ng-class="{'active': tab==4}" ng-click="selectTab(4,$event)" ng-show="hazmap.gridType == 0">Grid Configuration</div>
        <div class="menu-options" ng-class="{'active': tab==5}" ng-click="selectTab(5,$event)" ng-show="hazmap.smodel == 1">Vertical Source Distribution</div>
        <div class="menu-options" ng-class="{'active': tab==6}" ng-click="selectTab(6,$event)">Atmosphere turbulence coefficient</div>
        <div class="menu-options" ng-class="{'active': tab==7}" ng-click="selectTab(7,$event)" ng-show="hazmap.mode == 1">NTHR</div>
        <div class="menu-options" ng-class="{'active': tab==8}" ng-click="selectTab(8,$event)">Particles Spectrum Definition</div>
        <div class="menu-options" ng-class="{'active': tab==9}" ng-click="selectTab(9,$event)">Output Configuration</div>
        <div class="menu-options" ng-class="{'active': tab==10}" ng-click="selectTab(10,$event)">Summary</div>
        <div class="menu-options" ng-class="{'active': tab==11}" ng-click="selectTab(11,$event)">Results</div>
    </div>
</div>

<!-- General parameters Tab -->
<div class="tabs" ng-show="tab == 1">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">General parameters</div>
            <div class="panel-body">

                <!-- General options -->
                <div class="row separator-row">
                    <!-- Mode -->
                    <div class="col-lg-offset-2 col-lg-3 col-md-offset-2 col-md-3 col-sm-offset-2 col-sm-3">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 control-label">Mode</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>
                                        <input type="radio" ng-model="hazmap.mode" value="0">
                                        Deposit
                                    </label>
                                    <br/>
                                    <label>
                                        <input type="radio" ng-model="hazmap.mode" value="1">
                                        HazMap
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid Type -->
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 control-label">Grid Type</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>
                                        <input type="radio" ng-model="hazmap.gridType" value="0">
                                        Uniform
                                    </label>
                                    <br/>
                                    <label>
                                        <input type="radio" ng-model="hazmap.gridType" value="1">
                                        From file
                                    </label>
                                    <!-- User Grid file -->
                                    <div class="row" ng-show="hazmap.gridType == 1">
                                        <label for="gridFile" class="col-lg-5 col-md-5 col-sm-5 control-label">Grid file</label>
                                        <input id="gridFile" type="file" class="col-lg-7 file file-input" data-show-preview="false">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Settling velocity -->
<div class="tabs" ng-show="tab == 2">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Settling velocity</div>
            <div class="panel-body">

                <!-- Settling velocity -->
                <div class="row separator-row">
                    <!-- Settling velocity model -->
                    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Settling velocity model</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <label>
                                        <input type="radio" ng-model="hazmap.vmodel" value="0">
                                        User defined
                                    </label>
                                    <br/>
                                    <label>
                                        <input type="radio" ng-model="hazmap.vmodel" value="1">
                                        Arastoopour et al.'s model
                                    </label>
                                    <br/>
                                    <label>
                                        <input type="radio" ng-model="hazmap.vmodel" value="2">
                                        Wilson and Huang and Walker et al.'s model
                                    </label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <label>
                                        <input type="radio" ng-model="hazmap.vmodel" value="3">
                                        Ganser's model
                                    </label>
                                    <br/>
                                    <label>
                                        <input type="radio" ng-model="hazmap.vmodel" value="4">
                                        Dellino et al.'s model
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Is settling velocity z -->
                <div class="row separator-row">
                    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Is Settling velocity function of height?</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label>
                                        <input type="radio" ng-model="hazmap.ifvofz" value="0">
                                        No (constant)
                                    </label>
                                    <br/>
                                    <label>
                                        <input type="radio" ng-model="hazmap.ifvofz" value="1">
                                        Yes (Carmichael)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Eruption -->
<div class="tabs" ng-show="tab == 3">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Eruption Parameters</div>
            <div class="panel-body">
                <div class="row separator-row">
                    <!-- Total Mass Erupted -->
                    <div class="col-lg-offset-2 col-lg-3 col-md-offset-2 col-md-3 col-sm-offset-2 col-sm-3">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Total erupted mass</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label>
                                        <input type="number" ng-model="hazmap.massErupted">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Vertical Source distribution -->
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Vertical Source distribution</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label>
                                        <input type="radio" ng-model="hazmap.smodel" value="0">
                                        User defined (sources.inp)
                                    </label>
                                    <br/>
                                    <label>
                                        <input type="radio" ng-model="hazmap.smodel" value="1">
                                        Suzuki distribution
                                    </label>
                                    <!-- User Grid file -->
                                    <div class="row" ng-show="hazmap.smodel == 0">
                                        <label for="vsdFile" class="col-lg-5 col-md-5 col-sm-5 control-label">VSD file</label>
                                        <input id="vsdFile" type="file" class="col-lg-7 file file-input" data-show-preview="false">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Grid Type -->
<div class="tabs" ng-show="tab == 4">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Grid configuration</div>
            <div class="panel-body">

                <!-- Grid Type == 0 -->
                <div class="row separator-row">
                    <!-- Grid dimension -->
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Grid Dimension</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="row">
                                        <label class="col-lg-4 col-md-4 col-sm-4">Width</label>
                                        <input class="col-lg-6 col-md-6 col-sm-6" type="number" ng-model="hazmap.gridDimension.x">
                                    </div>
                                    <div class="row">
                                        <label class="col-lg-4 col-md-4 col-sm-4">Height</label>
                                        <input class="col-lg-6 col-md-6 col-sm-6" type="number" ng-model="hazmap.gridDimension.y">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Cell dimension -->
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Cell Dimension</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="row">
                                        <label class="col-lg-4 col-md-4 col-sm-4">Width</label>
                                        <input class="col-lg-6 col-md-6 col-sm-6" type="number" ng-model="hazmap.cellDimension.x">
                                        <span class="col-lg-1">[m]</span>
                                    </div>
                                    <div class="row">
                                        <label class="col-lg-4 col-md-4 col-sm-4">Height</label>
                                        <input class="col-lg-6 col-md-6 col-sm-6" type="number" ng-model="hazmap.cellDimension.y">
                                        <span class="col-lg-1">[m]</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- VSD Suzuki model -->
<div class="tabs" ng-show="tab == 5">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Vertical Source Distribution</div>
            <div class="panel-body">

                <!-- smodel === 1 -->
                <div class="row separator-row">
                    <!-- Vent coordinates smodel === 1 -->
                    <div class="col-lg-offset-1 col-lg-5 col-md-5 col-sm-5">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Eruptive Vent Coord (UTM)</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label>
                                        Xv
                                        <input type="number" ng-model="hazmap.ventCoord.x">
                                    </label>
                                    <br/>
                                    <label>
                                        Yv
                                        <input type="number" ng-model="hazmap.ventCoord.y">
                                    </label>
                                    <br/>
                                    <label>
                                        Zv
                                        <input type="number" ng-model="hazmap.ventCoord.z">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Top column Height smodel === 1 -->
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Height of the top of the column </h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label>Hmax</label><input type="number" ng-model="hazmap.hmax"><label>[m asl]</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row separator-row">
                    <!-- #steps of vertical discretization smodel === 1 -->
                    <div class="col-lg-offset-1 col-lg-5 col-md-5 col-sm-5">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Vertical Discretization</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label>
                                        # steps
                                        <input type="number" ng-model="hazmap.vdSteps">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Column shape smodel === 1 -->
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Column shape</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label>
                                        A
                                        <input type="number" ng-model="hazmap.columnShape.a">
                                    </label>
                                    <br/>
                                    <label>
                                        λ
                                        <input type="number" ng-model="hazmap.columnShape.lambda">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Atmosphere turbulence coefficient -->
<div class="tabs" ng-show="tab == 6">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Atmosphere turbulence coefficient</div>
            <div class="panel-body">
                <div class="row separator-row">
                    <!-- Atmosphere turbulence coeficcient -->
                    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Atmosphere turbulence coefficient</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label>
                                        <input type="number" ng-model="hazmap.atmosphereTurbulenceCoeff">
                                        <span>[m2/s]</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- NTHR -->
<div class="tabs" ng-show="tab == 7">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Threshold</div>
            <div class="panel-body">
                <!-- NTHR mode === 1 -->
                <div class="row separator-row">

                    <!-- # tephra load thresholds -->
                    <div class="col-lg-offset-2 col-lg-4">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Tephra load thresholds</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label>
                                        <input type="number" ng-model="hazmap.nthr.num">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- NTHR Thresholds -->
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">NTHR</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div ng-show="hazmap.nthr.num && hazmap.nthr.num > 0">
                                        <label>NTHR Thresholds</label>
                                        <div ng-repeat="n in [0, hazmap.nthr.num-1] | range">
                                            <input type="number" ng-model="hazmap.nthr.values[$index]"><label>[kg/m2]</label>
                                        </div>
                                    </div>
                                    <div ng-show="!hazmap.nthr.num || hazmap.nthr.num == 0">
                                        Insert a # of tephra load thresholds
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Particles -->
<div class="tabs" ng-show="tab == 8">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Particles definition</div>
            <div class="panel-body">

                <!-- Particles -->
                <div class="row separator-row">

                    <!-- # particles classes -->
                    <div class="col-lg-offset-2 col-lg-3 col-md-offset-2 col-md-3 col-sm-offset-2 col-sm-3">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Particles classes</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label>
                                        # of particles classes
                                        <input type="number" ng-model="hazmap.npc.num">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Particles spectrum -->
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Particles spectrum</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div ng-show="hazmap.npc.num && hazmap.npc.num>0" ng-repeat="n in [0, hazmap.npc.num-1] | range" class="particle-definition">
                                        <div class="row">
                                            <span>Particle #{{$index}}</span>
                                        </div>
                                        <div ng-show="hazmap.vmodel == 0">
                                            <div class="row">
                                                <label class="col-lg-5 col-md-5 col-sm-5"> Settling velocity </label>
                                                <input class="col-lg-5 col-md-5 col-sm-5" type="number" ng-model="hazmap.npc.values[$index].svel">
                                            </div>
                                            <div class="row">
                                                <label class="col-lg-5 col-md-5 col-sm-5"> wt% </label>
                                                <input class="col-lg-5 col-md-5 col-sm-5" type="number" ng-model="hazmap.npc.values[$index].wperc">
                                            </div>
                                        </div>
                                        <div ng-show="hazmap.vmodel != 0">
                                            <div class="row">
                                                <label class="col-lg-5 col-md-5 col-sm-5"> Diameter</label>
                                                <input class="col-lg-5 col-md-5 col-sm-5" type="number" ng-model="hazmap.npc.values[$index].diameter">
                                            </div>
                                            <div class="row">
                                                <label class="col-lg-5 col-md-5 col-sm-5"> Density </label>
                                                <input class="col-lg-5 col-md-5 col-sm-5" type="number" ng-model="hazmap.npc.values[$index].density">
                                            </div>
                                            <div class="row">
                                                <label class="col-lg-5 col-md-5 col-sm-5"> Shape </label>
                                                <input class="col-lg-5 col-md-5 col-sm-5" type="number" ng-model="hazmap.npc.values[$index].shape">
                                            </div>
                                            <div class="row">
                                                <label class="col-lg-5 col-md-5 col-sm-5"> wt% </label>
                                                <input class="col-lg-5 col-md-5 col-sm-5" type="number" ng-model="hazmap.npc.values[$index].wperc">
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="!hazmap.npc.num || hazmap.npc.num == 0">
                                        Insert a # of particles class
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Output Configuration-->
<div class="tabs" ng-show="tab == 9">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Output configuration</div>
            <div class="panel-body">
                <!-- Output-->
                <div class="row separator-row">
                    <!-- Write list of cell coordiantes (grid out) -->
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Write list of cell coordinates (grid.out)?</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label>
                                        <input type="radio" ng-model="hazmap.gridout" value="0">
                                        No
                                    </label>
                                    <br/>
                                    <label>
                                        <input type="radio" ng-model="hazmap.gridout" value="1">
                                        Yes
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Write list of particle spectra (hazmap-spe.out) -->
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Write particle spectra?</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label>
                                        <input type="radio" ng-model="hazmap.speout" value="0">
                                        No
                                    </label>
                                    <br/>
                                    <label>
                                        <input type="radio" ng-model="hazmap.speout" value="1">
                                        Yes
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Write settling velocity profile (hazmap-spe.out) -->
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Write settling velocities?</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label>
                                        <input type="radio" ng-model="hazmap.vsetout" value="0">
                                        No
                                    </label>
                                    <br/>
                                    <label>
                                        <input type="radio" ng-model="hazmap.vsetout" value="1">
                                        Yes
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Output format only -->
                <div class="row separator-row">
                    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Output Format</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label>
                                        <input type="radio" ng-model="hazmap.outformat" value="1">
                                        Unknown
                                    </label>
                                    <br/>
                                    <label>
                                        <input type="radio" ng-model="hazmap.outformat" value="2">
                                        HazView Compatible Output
                                    </label>
                                    <br/>
                                    <label>
                                        <input type="radio" ng-model="hazmap.outformat" value="3">
                                        GRD ASCII
                                    </label>
                                    <br/>
                                    <label>
                                        <input type="radio" ng-model="hazmap.outformat" value="4">
                                        GRD Binary
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Summary -->
<div class="tabs" ng-show="tab == 10">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Output configuration</div>
            <div class="panel-body">
                <!-- Summary -->
                <div class="row separator-row">
                    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                        <h5>General</h5>
                        <div class="row">
                            <span class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4">Mode: </span>
                            <span class="col-lg-6 col-md-6 col-sm-6">{{hazmap.mode == 0 ? 'Deposit' : 'Probability (hazmap)'}}</span>
                        </div>
                        <div class="row">
                            <span class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4">Grid: </span>
                            <span class="col-lg-6 col-md-6 col-sm-6">{{hazmap.gridType == 0 ? 'Uniform' : 'User defined'}}</span>
                        </div>

                        <h5>Settling velocity</h5>
                        <div class="row">
                            <span class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4">Settling Vel Model:</span>
                            <span class="col-lg-6 col-md-6 col-sm-6" ng-show="hazmap.vmodel == 0">User defined</span>
                            <span class="col-lg-6 col-md-6 col-sm-6" ng-show="hazmap.vmodel == 1">Arastoopour et al.'s model</span>
                            <span class="col-lg-6 col-md-6 col-sm-6" ng-show="hazmap.vmodel == 2">Wilson and Huang and Walker et al.'s model</span>
                            <span class="col-lg-6 col-md-6 col-sm-6" ng-show="hazmap.vmodel == 3">Ganser's model</span>
                            <span class="col-lg-6 col-md-6 col-sm-6" ng-show="hazmap.vmodel == 4">Dellino et al.'s model</span>
                        </div>
                        <div class="row">
                            <span class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4">Velocity in fuction of height:</span>
                            <span class="col-lg-6 col-md-6 col-sm-6"> {{hazmap.ifvofz == 0 ? 'No' : 'yes'}}</span>
                        </div>

                        <h5>Eruption</h5>
                        <div class="row">
                            <span class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4">Erupted mass:</span>
                            <span class="col-lg-6 col-md-6 col-sm-6"> {{hazmap.massErupted}}</span>
                        </div>
                        <div class="row">
                            <span class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4">Vertical Source Distribution:</span>
                            <span class="col-lg-6 col-md-6 col-sm-6"> {{hazmap.smodel == 0 ? 'User defined': 'Suzuki model'}}</span>
                        </div>

                        <h5> Suzuki Parameters</h5>
                        <div class="row">
                            <span class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4">Vent coords:</span>
                            <span class="col-lg-6 col-md-6 col-sm-6">{{hazmap.ventCoord.x}}, {{hazmap.ventCoord.y}}, {{hazmap.ventCoord.z}}</span>
                        </div>
                        <div class="row">
                            <span class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4">Hmax:</span>
                            <span class="col-lg-6 col-md-6 col-sm-6">{{hazmap.hmax}} m asl</span>
                        </div>
                        <div class="row">
                            <span class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4">Vertical points:</span>
                            <span class="col-lg-6 col-md-6 col-sm-6">{{hazmap.vdSteps}}</span>
                        </div>
                        <div class="row">
                            <span class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4">Column shapee:</span>
                            <span class="col-lg-6 col-md-6 col-sm-6">A: {{hazmap.columnShape.a}}   λ: {{hazmap.columnShape.lambda}}</span>
                        </div>

                        <h5>Atmoshpere</h5>
                        <div class="row">
                            <span class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4">Atmosphere Turbulence Coefficient:</span>
                            <span class="col-lg-6 col-md-6 col-sm-6">{{hazmap.atmosphereTurbulenceCoeff}}</span>
                        </div>

                        <h5>NTHR</h5>
                        <div class="row">
                            <span class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4">Tephra load thresholds:</span>
                            <span class="col-lg-6 col-md-6 col-sm-6">{{hazmap.nthr.values}}</span>
                        </div>

                        <h5>Particles Definition</h5>
                        <div class="row" ng-repeat="particle in hazmap.npc.values">
                            <span class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4">Particle #{{$index}}:</span>
                            <span class="col-lg-6 col-md-6 col-sm-6">{{particles}}</span>
                        </div>

                        <h5>Grid dimensions</h5>
                        <div class="row">
                            <span class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4">Grid size:</span>
                            <span class="col-lg-6 col-md-6 col-sm-6">{{hazmap.gridDimension.x}} / {{hazmap.gridDimension.y}}</span>
                        </div>
                        <div class="row">
                            <span class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4">Cell size:</span>
                            <span class="col-lg-6 col-md-6 col-sm-6">{{hazmap.cellDimension.x}} / {{hazmap.cellDimension.y}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Results -->
<div class="tabs" ng-show="tab == 11">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Output configuration</div>
            <div class="panel-body">
                <h3>Results</h3>
                <a href={{outfile}}>Result</a>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- Previous Button -->
    <button ng-show="tab>0" class="btn btn-info" ng-click="tab = tab - 1;">&lt;Previous</button>
    <!-- Next button -->
    <button ng-show="tab<10" class="btn btn-info" ng-click="tab = tab + 1;">Next&gt;</button>
    <!-- Run button -->
    <button class="btn btn-success" ng-click="clickRUN()" ng-show="tab == 10">RUN</button>
</div>