<div id="pluginMenuView" ui-view="pluginMenu" ng-cloak="">
    <div ng-if="!openMenu"  class="icon-open-menu">
        <span class="fui-list" ng-click="toggleMenu()"></span>
    </div>
    <div class="content-menu open-menu" ng-if="openMenu">
        <div class="menu-title">
            <span class="menu-title-span">{{pluginSelected}}</span>
            <span ng-click="toggleMenu()" class="icon-title-menu fui-cross"></span>
        </div>
        <div class="menu-options active" ng-click="selectTab(1,$event)">Input Parameters</div>
        <div class="menu-options " ng-click="selectTab(2,$event)">Vent Location</div>
        <div class="menu-options " ng-click="selectTab(3,$event)">Lava Flow Parameters</div>
        <div class="menu-options " ng-click="selectTab(4,$event)">Result</div>
    </div>
</div>
<div class="tabs" ng-show="tab == 1">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Input parameters</div>
            <div class="panel-body">
                <div class="row ">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label for="lineEditImportInputsPath" class="col-lg-2 col-md-2 control-label">Select Previus inputs</label>
                            <div class="col-lg-10 col-md-10 ">
                                <input id="lineEditImportInputsPath" type="file" class="file file-input" data-show-preview="false">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row separator-row">
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label for="lineEditInputsName" class="col-lg-4 col-md-5  control-label">Inputs Name</label>
                            <div class="col-lg-8 col-md-7">
                                <input type="text" class="form-control plugin-input" id="lineEditInputsName">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <!--<div class="form-group">-->
                            <label for="lineEditImportInputsSavePath" class="col-lg-3 col-md-3 control-label">Inputs Path</label>
                            <div class="col-lg-9 col-md-9">
                                <input id="lineEditImportInputsSavePath" type="file" class="file file-input" data-show-preview="false">
                            </div>
                        <!--</div>-->
                    </div>
                </div>
                <img src="assets/img/q-lav.png" style="width: 80%; border-radius: 20px; margin-top:2%;margin-bottom: 2%;"/>
                <div class="row separator-row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="lineEditDEM" class="col-lg-2 col-md-2 control-label">Select DEM</label>
                            <div class="col-lg-10 col-md-10 ">
                                <input id="lineEditDEM" type="file" class="file file-input" data-show-preview="false">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-3 col-md-3">
                        <label id="label_9" class="control-label">Calculate fintess index</label>
                    </div>
                    <div class="col-lg-offset-6 col-md-offset-6 col-lg-1 col-md-1">
                        <label><input id="radioButtonFIYes" class="{{utils.RADIO_CLASS}}" type="radio" name="fintessCalculatorRadio" ng-model="fintessCalculator" value="{{utils.CHECKBOX_VALUE_TRUE}}"> YES</label>
                    </div>
                    <div class="col-lg-1 col-md-1">
                        <label><input id="radioButtonFINo" class="{{utils.RADIO_CLASS}}" type="radio" name="fintessCalculatorRadio" ng-model="fintessCalculator" value="{{utils.CHECKBOX_VALUE_FALSE}}"> NO</label>
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="row separator-row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="col-lg-2 col-md-2 control-label">Lava Flow Reference</label>
                            <div class="col-lg-10 col-md-10 ">
                                <input id="lineEditFI" type="file" class="file file-input" data-show-preview="false">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-3 col-md-3">
                        <label id="label_8" class="control-label">Save simulation results</label>
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="row separator-row">
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 control-label">Output name</label>
                            <div class="col-lg-7 col-md-7">
                                <input type="text" class="form-control plugin-input" id="lineEditOutputName">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <!--<div class="form-group">-->
                        <label for="lineEditOutputPath" class="col-lg-4 col-md-4 control-label">Output Path</label>
                        <div class="col-lg-8 col-md-8">
                            <input id="lineEditOutputPath" type="file" class="file file-input" data-show-preview="false">
                        </div>
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tabs tabs2" ng-show="tab == 2">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Vent Location</div>
            <div class="panel-body">
                <div class="row">
                    <label  class="col-lg-8 col-md-8 control-label" style="text-align: left;margin-left: 3%">Type of vent</label>
                </div>
                <div class="line-separator" style="margin-bottom: 1%"></div>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <label><input type="radio" id="radioButtonPoint" ng-model="typeVent" class="{{utils.RADIO_CLASS}}" name="optradio2" value="{{utils.TYPE_VENT_POINT}}"> Punto</label>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <label><input type="radio" id="radioButtonLine" ng-model="typeVent" class="{{utils.RADIO_CLASS}}" name="optradio2" value="{{utils.TYPE_VENT_LINEAR}}"> Linear Fisure</label>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <label><input type="radio" id="radioButtonPolygon" ng-model="typeVent" class="{{utils.RADIO_CLASS}}" name="optradio2" value="{{utils.TYPE_VENT_SURFACE}}"> Surface Area</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <label><input type="checkbox" class="{{utils.CHECKBOX_CLASS}}" id="checkBoxPDF" ng-true-value="{{utils.CHECKBOX_VALUE_TRUE}}" ng-false-value="{{utils.CHECKBOX_VALUE_FALSE}}" ng-model="checkBoxPDF" name="checkBoxPDF" disabled="true"> PDF MAP</label>
                    </div>
                </div>
                <div class="row" style="margin-top: 2%">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="col-lg-2 col-md-2 control-label">Import PFD</label>
                            <div class="col-lg-10 col-md-10 ">
                                <input id="lineEditFile" type="file" class="file file-input" data-show-preview="false" disabled="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 5%">
                    <label class="col-lg-8 col-md-8 control-label" style="text-align: left;margin-left: 3%">Vent Coordinates</label>
                </div>
                <div class="line-separator" style="margin-bottom: 2%;"></div>
                <div class="row" style="margin-top: 5%">
                    <div class="col-lg-5 col-md-5">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <label><input type="radio" id="radioButtonType" class="{{utils.RADIO_CLASS}}" name="optradio3" checked> Type in coordinates</label>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <label><input type="radio" id="radioButtonMap" class="{{utils.RADIO_CLASS}}" name="optradio3"> Choose Layer</label>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <table class="tg table-coordinates">
                            <tr>
                                <th class="tg-yw4l"></th>
                                <th class="title-coordinates">X</th>
                                <th class="title-coordinates">Y</th>
                            </tr>
                            <tr class="row-coordinates">
                                <td class="tg-yw4l">Coord 1</td>
                                <td class="tg-yw4l"><input type="text" class="form-control input-coordinates plugin-input" id="lineEditX1"></td>
                                <td class="tg-yw4l"><input type="text" class="form-control input-coordinates plugin-input" id="lineEditY1"></td>
                            </tr>
                            <tr class="row-coordinates">
                                <td class="tg-yw4l">Coord 2</td>
                                <td class="tg-yw4l"><input type="text" class="form-control input-coordinates plugin-input" id="lineEditX2"></td>
                                <td class="tg-yw4l"><input type="text" class="form-control input-coordinates plugin-input" id="lineEditY2"></td>
                            </tr>
                            <tr class="row-coordinates">
                                <td class="tg-yw4l">Coord 3</td>
                                <td class="tg-yw4l"><input type="text" class="form-control input-coordinates plugin-input" id="lineEditX3"></td>
                                <td class="tg-yw4l"><input type="text" class="form-control input-coordinates plugin-input" id="lineEditY3"></td>
                            </tr>
                            <tr class="row-coordinates">
                                <td class="tg-yw4l">Coord 4</td>
                                <td class="tg-yw4l"><input type="text" class="form-control input-coordinates plugin-input" id="lineEditX4"></td>
                                <td class="tg-yw4l"><input type="text" class="form-control input-coordinates plugin-input" id="lineEditY4"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="line-separator" style="margin-bottom: 3%; margin-top: 5%"></div>
                <div class="row" style="margin-top: 2%">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label  class="col-lg-3 col-md-3 control-label">Distance between the vents (m) :</label>
                            <div class="col-lg-9 col-md-9">
                                <input type="text" class="form-control input-coordinates plugin-input" id="lineEditDvents">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 2%;margin-bottom: 5%">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="lineEditMinPDFValue" class="col-lg-3 col-md-3 control-label">Min value PDF value to simulate :</label>
                            <div class="col-lg-9 col-md-9">
                                <input type="text" class="form-control input-coordinates plugin-input" id="lineEditMinPDFValue">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="tabs tab3" ng-show="tab == 3">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Lava Flow Parameters</div>
            <div class="panel-body">
                <div class="row">
                    <label  class="col-lg-8 col-md-8 control-label" style="text-align: left;margin-left: 3%">Lava flow spread</label>
                </div>
                <div class="line-separator" style="margin-bottom: 1%"></div>
                <div class="row separator-row">
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label for="lineEditHc" class="col-sm-3 control-label">Hc (m) </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control plugin-input" id="lineEditHc" value="3">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label for="lineEditHp" class="col-sm-3 control-label">Hp (m) </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control plugin-input" id="lineEditHp" value="10">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row separator-row">
                    <div class="col-lg-3 col-md-3">
                        <label><input type="checkbox" name="checkBoxSquare" class="{{utils.CHECKBOX_CLASS}}" id="checkBoxSquare" ng-true-value="{{utils.CHECKBOX_VALUE_TRUE}}" ng-false-value="{{utils.CHECKBOX_VALUE_FALSE}}"> Probability to the square</label>
                    </div>
                </div>
                <div class="row" style="margin-top: 3%">
                    <label class="col-lg-8 col-md-8 control-label" style="text-align: left;margin-left: 3%">Lava flow Length</label>
                </div>
                <div class="line-separator" style="margin-bottom: 1%"></div>
                <div class="row" style="margin-top: 1%">
                    <div class="col-lg-2 col-md-4">
                        <div class="row">
                            <div class="col-lg-12 col-lg-offset-1" style="text-align: left">
                                <div><label><input type="radio" name="optLavaFlow" class="{{utils.RADIO_CLASS}}" id="radioButtonMaxL" ng-model="lavaFlowLength" value="{{utils.LAVA_FLOW_LENGTH_MAX}}" > Maximum Length</label></div>
                                <div><label><input type="radio" name="optLavaFlow" class="{{utils.RADIO_CLASS}}" id="radioButtonProb" ng-model="lavaFlowLength" value="{{utils.LAVA_FLOW_LENGTH_DECREASING}}" > Decreasing Probabily</label></div>
                                <div><label><input type="radio" name="optLavaFlow" class="{{utils.RADIO_CLASS}}" id="radioButtonFlowGo" ng-model="lavaFlowLength" value="{{utils.LAVA_FLOW_LENGTH_FLOWGO}}" > FLOWGO</label></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-8 " ng-show="lavaFlowLength === utils.LAVA_FLOW_LENGTH_FLOWGO">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="lineEditEfRate" class="col-lg-4 col-md-4  control-label">Effusion rate (m3/s): </label>
                                    <div class="col-lg-5 col-md-5">
                                        <input type="text" class="form-control {{utils.CLASS_NORMAL_FLOWGO}}" id="lineEditEfRate">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="lineEditViscosity" class="col-lg-4 col-md-4  control-label">Lava initial viscosity(Pa*s): </label>
                                    <div class="col-lg-5 col-md-5">
                                        <input type="text" class="form-control {{utils.CLASS_NORMAL_FLOWGO}}" id="lineEditViscosity" value="1000">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="lineEditCrystals" class="col-lg-4 col-md-4  control-label">Initial phenocryst mass fractio: </label>
                                    <div class="col-lg-5 col-md-5">
                                        <input type="text" class="form-control {{utils.CLASS_NORMAL_FLOWGO}}" id="lineEditCrystals" value="0.1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-4 col-md-4  control-label">Channel ratio (width/depth): </label>
                                    <div class="col-lg-5 col-md-5">
                                        <input type="text" class="form-control {{utils.CLASS_NORMAL_FLOWGO}}" id="lineEditRatio" value="1">
                                    </div>
                                    <div class="col-sm-3">
                                        <label><input type="checkbox" name="checkBoxOpt" class="{{utils.CLASS_NORMAL_FLOWGO}}" id="checkBoxOpt" ng-model="advancedParametersFlowgo" ng-true-value="{{utils.CHECKBOX_VALUE_TRUE}}" ng-false-value="{{utils.CHECKBOX_VALUE_FALSE}}" > Advance Parameters</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5%">
                            <div class="col-lg-4 col-md-4">
                                <label class="col-sm-12 control-label" style="margin-bottom: 5%">Thermal Parameters </label>
                                <div class="row" style="margin-top: 2%">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="lineEditTeruption" class="col-sm-6 control-label min-text-size"> T(Eruption)(ºC): </label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control {{utils.CLASS_ADVANDED_FLOWGO}}" id="lineEditTeruption" value="1140">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 2%">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="lineEditTcrust" class="col-sm-6 control-label min-text-size">T(Crust)(ºC): </label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control {{utils.CLASS_ADVANDED_FLOWGO}}" id="lineEditTcrust"  value="500">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 2%">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="lineEditOffset" class="col-sm-6 control-label min-text-size">Offset(ºC): </label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control {{utils.CLASS_ADVANDED_FLOWGO}}" id="lineEditOffset"  value="160">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 2%">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="lineEditd" class="col-sm-6 control-label min-text-size">d: </label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control {{utils.CLASS_ADVANDED_FLOWGO}}" id="lineEditd"  value="-0.16">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3" >
                                <label  class="col-sm-12 control-label">Viscisty & Elasticity </label>
                                <div class="row" style="margin-top: 2%">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="lineEdita" class="col-lg-5 col-md-5 control-label min-text-size"> a(1/k): </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control {{utils.CLASS_ADVANDED_FLOWGO}}" id="lineEdita"  value="0.04">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 2%">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="lineEditb" class="col-lg-5 col-md-5 control-label min-text-size"> b(Pa): </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control {{utils.CLASS_ADVANDED_FLOWGO}}" id="lineEditb"  value="0.01">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 2%">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="lineEditc" class="col-lg-5 col-md-5 control-label min-text-size"> c(1/k): </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control {{utils.CLASS_ADVANDED_FLOWGO}}" id="lineEditc" value="0.08">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-5 col-md-5">
                                <label  class="col-sm-12 control-label">Convection Parameters </label>
                                <div class="row" style="margin-top: 2%">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="lineEditWindSpeed" class="col-sm-6 control-label min-text-size"> wind speed(m/s): </label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control {{utils.CLASS_ADVANDED_FLOWGO}}" id="lineEditWindSpeed"  value="5">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 2%">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="lineEditCH" class="col-sm-6 control-label min-text-size"> Ch: </label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control {{utils.CLASS_ADVANDED_FLOWGO}}" id="lineEditCH"  value="0.0036">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 2%">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="lineEditTair" class="col-sm-6 control-label min-text-size"> T(air)(ºC): </label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control {{utils.CLASS_ADVANDED_FLOWGO}}" id="lineEditTair"  value="20">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 2%">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="lineEditDair" class="col-sm-6 control-label min-text-size"> Density air(kg/m3): </label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control {{utils.CLASS_ADVANDED_FLOWGO}}" id="lineEditDair"  value="0.4412">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 2%">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="lineEditSair" class="col-sm-6 control-label min-text-size"> specific heat capacity: </label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control {{utils.CLASS_ADVANDED_FLOWGO}}" id="lineEditSair"  value="1099">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 4%">
                            <div class="col-lg-4 col-md-4 ">
                                <label  class="col-sm-12 control-label">Velocity Constant </label>
                                <div class="row" style="margin-top: 2%">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="lineEditGravity" class="col-sm-6 control-label min-text-size"> Gravity(m/s2): </label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control {{utils.CLASS_ADVANDED_FLOWGO}}" id="lineEditGravity"  value="9.81">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5">
                                <label  class="col-sm-12 control-label">Lava Density and vesicularity </label>
                                <div class="row" style="margin-top: 2%">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="lineEditDRE" class="col-sm-7 control-label min-text-size"> DRE density(kg/m3): </label>
                                            <div class="col-lg-5 col-md-5">
                                                <input type="text" class="form-control {{utils.CLASS_ADVANDED_FLOWGO}}" id="lineEditDRE"  value="2600">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 2%">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="lineEditVES" class="col-sm-7 control-label min-text-size"> Vesicularity: </label>
                                            <div class="col-lg-5 col-md-5">
                                                <input type="text" class="form-control {{utils.CLASS_ADVANDED_FLOWGO}}" id="lineEditVES"  value="0.2">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row" style="margin-top: 4%">
                            <div class="col-lg-4 col-md-4 ">
                                <label class="col-sm-12 control-label">Cristal Parameters </label>
                                <div class="row" style="margin-top: 2%">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="lineEditTax" class="col-sm-7 control-label min-text-size"> Growth rate: </label>
                                            <div class="col-lg-5 col-md-5">
                                                <input type="text" class="form-control {{utils.CLASS_ADVANDED_FLOWGO}}" id="lineEditTax"  value="0.0027">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 2%">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="lineEditL" class="col-sm-7 control-label min-text-size"> L(J/Kg): </label>
                                            <div class="col-lg-5 col-md-5">
                                                <input type="text" class="form-control {{utils.CLASS_ADVANDED_FLOWGO}}" id="lineEditL"  value="350000.0">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 2%">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="lineEditR" class="col-sm-7 control-label min-text-size"> R: </label>
                                            <div class="col-lg-5 col-md-5">
                                                <input type="text" class="form-control {{utils.CLASS_ADVANDED_FLOWGO}}" id="lineEditR"  value="1.51">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <label class="col-sm-12 control-label">Radiation Parameters</label>
                                <div class="row" style="margin-top: 2%">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="lineEditSbc" class="col-sm-6 control-label min-text-size"> sbc(W/m2.k4): </label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control {{utils.CLASS_ADVANDED_FLOWGO}}" id="lineEditSbc"  value="5.67-e08">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 2%">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="lineEdite" class="col-sm-6 control-label min-text-size"> e: </label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control {{utils.CLASS_ADVANDED_FLOWGO}}" id="lineEdite"  value="0.95">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5">
                                <label  class="col-sm-12 control-label">Conduction Parameters</label>
                                <div class="row" style="margin-top: 2%">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="lineEditThickness" class="col-sm-7 control-label min-text-size"> Tickness of lava crust (%): </label>
                                            <div class="col-lg-5 col-md-5">
                                                <input type="text" class="form-control {{utils.CLASS_ADVANDED_FLOWGO}}" id="lineEditThickness"  value="10">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 2%">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="lineEditTbase" class="col-sm-7 control-label min-text-size"> T(base of lava crust)(ºC): </label>
                                            <div class="col-lg-5 col-md-5">
                                                <input type="text" class="form-control {{utils.CLASS_ADVANDED_FLOWGO}}" id="lineEditTbase"  value="700">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 2%">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="lineEditConductivity" class="col-sm-7 control-label min-text-size"> Lava thermal conductivity: </label>
                                            <div class="col-lg-5 col-md-5">
                                                <input type="text" class="form-control {{utils.CLASS_ADVANDED_FLOWGO}}" id="lineEditConductivity" value="2.5">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-8 " ng-show="lavaFlowLength == utils.LAVA_FLOW_LENGTH_DECREASING">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="lineEditMaxL2" class="col-lg-4 col-md-4  control-label">Mean lenght(m) </label>
                                    <div class="col-lg-5 col-md-5">
                                        <input type="text" class="form-control {{utils.CLASS_ADVANCED_DECREASING}}" id="lineEditMaxL2" value="5500">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="lineEditVar" class="col-lg-4 col-md-4  control-label">Estandar deviation(m): </label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control {{utils.CLASS_ADVANCED_DECREASING}}" id="lineEditVar" value="2500">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-8 " ng-show="lavaFlowLength == utils.LAVA_FLOW_LENGTH_MAX">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="lineEditMaxL" class="col-lg-4 col-md-4  control-label">Maximum length: </label>
                                    <div class="col-lg-5 col-md-5">
                                        <input type="text" class="form-control {{utils.CLASS_ADVANCED_MAX}}" id="lineEditMaxL" value="10000">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 4%">
                    <label class="col-lg-8 col-md-8 control-label" style="text-align: left;margin-left: 3%">Lava Flow Simulated</label>
                </div>
                <div class="line-separator" style="margin-bottom: 1%"></div>
                <div class="row" style="margin-top: 2%">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="lineEditIter" class="col-lg-3 col-md-3 control-label">Number of Iterations :</label>
                            <div class="col-lg-5 col-md-5">
                                <input type="text" class="form-control plugin-input input-coordinates" id="lineEditIter" value="1500">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 2%;margin-bottom: 5%">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="lineEditThreshold" class="col-lg-3 col-md-3 control-label">Thershold(%) :</label>
                            <div class="col-lg-5 col-md-5">
                                <input type="text" class="form-control plugin-input input-coordinates" id="lineEditThreshold" value="1.0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tabs tabs-result" ng-show="tab == 4">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Result</div>
            <div class="panel-body">
                <div class="row ">
                    <div class="col-lg-12 col-md-12" style="text-align: center;">
                        <a href="http://198.211.123.50/back/qlavha/result/result.asc">Lava Raster</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <button class="btn btn-success" ng-click="clickRUN()" ng-show="tab != 4">RUN</button>
</div>