<div id="pluginMenuView" ui-view="pluginMenu" ng-cloak="">
    <div ng-if="!openMenu"  class="icon-open-menu">
        <span class="fui-list" ng-click="toggleMenu()"></span>
    </div>
    <div class="content-menu open-menu" ng-if="openMenu">
        <div class="menu-title">
            <span class="menu-title-span">{{pluginSelected}}</span>
            <span ng-click="toggleMenu()" class="icon-title-menu fui-cross"></span>
        </div>
        <div class="menu-options" ng-class="{'active': tab==1}" ng-click="selectTab(1,$event)">ICTJA - CSIC</div>
        <div class="menu-options" ng-class="{'active': tab==2}" ng-click="selectTab(2,$event)">Researchers</div>
        <div class="menu-options" ng-class="{'active': tab==3}" ng-click="selectTab(3,$event)">Collaborators</div>
    </div>
</div>

<div class="tabs" ng-show="tab == 1">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">ICTJA - CSIC</div>
            <div class="panel-body">
                El Instituto de Ciencias de la Tierra Jaume Almera (ICTJA), también conocido en catalán como Institut de Ciències de la Terra Jaume Almera, es un centro de investigación del Consejo Superior de Investigaciones Científicas (CSIC). Fue creado en 1965 con el nombre de Instituto de Geología de Barcelona y está ubicado (41.3847°N 2.1191°ECoordenadas: 41.3847°N 2.1191°E (mapa) ) en el Campus Universitario de Pedralbes de Barcelona (España). Su nombre se refiere al geólogo catalán Jaume Almera.
            </div>
        </div>
    </div>
</div>

<div class="tabs" ng-show="tab == 2">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Researchers</div>
            <div class="panel-body">
                <ul>
                    <li>Lorem ipsum sit amet</li>
                    <li>Lorem ipsum sit amet</li>
                    <li>Lorem ipsum sit amet</li>
                    <li>Lorem ipsum sit amet</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="tabs" ng-show="tab == 3">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Collaborators</div>
            <div class="panel-body">
                <ul>
                    <li>Lorem ipsum sit amet</li>
                    <li>Lorem ipsum sit amet</li>
                    <li>Lorem ipsum sit amet</li>
                    <li>Lorem ipsum sit amet</li>
                </ul>
            </div>
        </div>
    </div>
</div>
