

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .first-page-hasset{
    .row-probabilities,
    .row-table-points{
      font-size: 1.3vh
    }
  }
  .second-page-hasset{
    .row-table-unrest{
        font-size: 1.45vh
    }
  }

  .third-page-hasset{
    .row-table-hazard{
        font-size: 1.45vh

    }
  }
  .four-page-hasset{
    .group-scenario label{
      font-size: 1.45vh;
    }
    .table-escenarios{
      font-size: 1.5vh;
    }
    .button-hasset{
      font-size: 1.5vh;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .first-page-hasset{
    .row-probabilities,
    .row-table-points{
      font-size: 1.4vh
    }
  }
  .second-page-hasset{
    .row-table-unrest{
      font-size: 1.45vh
    }
  }
  .third-page-hasset{
    .row-table-hazard{
        font-size: 1.45vh
    }
  }
  .four-page-hasset{
    .group-scenario label{
      font-size: 1.45vh;
    }
    .table-escenarios{
      font-size: 1.5vh;
    }
    .button-hasset{
      font-size: 1.5vh;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .first-page-hasset{
    .row-probabilities,
    .row-table-points{
      font-size: 1.6vh
    }
  }
  .second-page-hasset{
    .row-table-unrest{
      font-size: 1.8vh
    }
  }
  .third-page-hasset{
    .row-table-hazard{
        font-size: 1.6vh
    }
  }
  .four-page-hasset{
    .group-scenario label{
      font-size: 1.6vh;
    }
    .table-escenarios{
      font-size: 1.6vh;
    }
    .button-hasset{
      font-size: 1.6vh;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .first-page-hasset{
    .row-probabilities,
    .row-table-points{
      font-size: 1.8vh
    }
  }
  .second-page-hasset{
    .row-table-unrest{
      font-size: 1.8vh
    }
  }
  .third-page-hasset{
    .row-table-hazard{
      font-size: 1.8vh
    }
  }
  .four-page-hasset{
    .group-scenario label{
      font-size: 1.8vh;
    }
    .table-escenarios{
      font-size: 1.8vh;
    }
    .button-hasset{
      font-size: 1.8vh;
    }
  }
}
.four-page-hasset{
  .group-scenario{
    .description-probability{
      font-size: 1vh;
      font-style: italic;
      margin-left: 5%;
    }
  }
  .button-clear{
    margin-left: 5%;
  }
}




