

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .plugin-content-box .row{
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .plugin-box h3{
    font-size: 2.4vw;
  }
  .plugin-box {
    font-size: 1.2vw;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .plugin-content-box .row {
    flex-direction: row;
    align-items: flex-start;
    .plugin-box{
      min-height: 180px;
    }
  }
  .plugin-box h3{
    font-size: 2.4vw;
  }
  .plugin-box {
    font-size: 1.4vw;
  }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .plugin-content-box .row {
    flex-direction: row;
    align-items: flex-start;
    .plugin-box{
      min-height: 180px;
    }
  }
  .plugin-box h3{
    font-size: 2.4vw;
  }
  .plugin-box {
    font-size: 1.5vw;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .plugin-content-box .row {
    flex-direction: row;
    align-items: flex-start;
    .plugin-box{
      min-height: 180px;
    }
  }
  .plugin-box h3{
    font-size: 2.2vw;
  }
  .plugin-box {
    font-size: 1.7vw;
  }
}





