
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



.fist-page-laharz{
  .row-prefix-string{
    margin-top: 3%;
  }
  .row-stream-threshold{
    margin-top: 3%;
  }
}
.second-page-laharz{
  .row-stream-threshold{
    margin-top: 3%;
  }
}
.third-page-laharz{
  .row-coordinates{
    margin-top: 3%;
    text-align: left;
  }
  .row-thirdPage-laharz{
    margin-top: 3%;
  }
}
.four-page-laharz{

  .row-fourPage-laharz{
    margin-top: 3%;
  }
}
.five-page-laharz{
  .row-fivePage-laharz{
    margin-top: 3%;
  }
}
.six-page-laharz{
  .row-sixPage-laharz{
    margin-top: 3%;
  }
}

