<qVast id="pluginMenuView" ui-view="pluginMenu" ng-cloak="">
    <div ng-if="!openMenu"  class="icon-open-menu">
        <span class="fui-list" ng-click="toggleMenu()"></span>
    </div>
    <div class="content-menu open-menu" ng-if="openMenu">
        <div class="menu-title">
            <span class="menu-title-span">{{pluginSelected}}</span>
            <span ng-click="toggleMenu()" class="icon-title-menu fui-cross"></span>
        </div>
        <div class="menu-options active" ng-click="selectTab(1,$event)">Input Parameters</div>
    </div>
</qVast>
<div class="tabs" ng-show="tab == 1">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Input parameters</div>
            <div class="panel-body">

                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-3 col-md-3 col-sm-3 ">
                        <label id="label_1" class="control-label">Input Parameters</label>
                    </div>
                </div>

                <div class="line-separator"></div>

                <div class="row separator-row">
                    <div class="col-lg-3 col-md-3 col-sm-3 ">
                        <div class="form-group">
                            <label class="col-lg-3 col-md-3 col-sm-3  control-label">Mode</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control plugin-input" id="nParameter">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 ">
                        <div class="form-group">
                            <label class="col-lg-3 col-md-3 col-sm-3  control-label">South</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control plugin-input" id="sParameter">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 ">
                        <div class="form-group">
                            <label class="col-lg-3 col-md-3 col-sm-3  control-label">East</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control plugin-input" id="eParameter">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 ">
                        <div class="form-group">
                            <label class="col-lg-3 col-md-3 col-sm-3  control-label">West</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control plugin-input" id="wParameter">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group">
                            <label class="col-lg-3 col-md-3 col-sm-3  control-label">H</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control plugin-input" id="hParameter">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group">
                            <label class="col-lg-3 col-md-3 col-sm-3  control-label">R</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control plugin-input" id="rParameter">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group">
                            <label class="col-lg-3 col-md-3 col-sm-3  control-label">P</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control plugin-input" id="pParameter">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-3 col-md-3 col-sm-3 ">
                        <label id="label_2" class="control-label">Points</label>
                    </div>
                </div>

                <div class="line-separator"></div>

                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-12">
                        <!--<div class="form-group">-->
                        <label for="linePointsPath" class="col-lg-2 control-label">Points Path</label>
                        <div class="col-lg-10">
                            <input id="linePointsPath" type="file" class="file file-input" data-show-preview="false">
                        </div>
                        <!--</div>-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="tabs tabs-result" ng-show="tab == 4">
    <h3>Result</h3>
</div>

<div>
    <button class="btn btn-success" ng-click="clickRUN()" ng-show="tab != 4">RUN</button>
</div>