<qVast id="pluginMenuView" ui-view="pluginMenu" ng-cloak="">
    <div ng-if="!openMenu"  class="icon-open-menu">
        <span class="fui-list" ng-click="toggleMenu()"></span>
    </div>
    <div class="content-menu open-menu" ng-if="openMenu">
        <div class="menu-title">
            <span class="menu-title-span">{{pluginSelected}}</span>
            <span ng-click="toggleMenu()" class="icon-title-menu fui-cross"></span>
        </div>
        <div class="menu-options active" ng-click="selectTab(1,$event)">Create Surface Hydrology Rasters</div>
        <div class="menu-options" ng-click="selectTab(2,$event)">Generate New Stream Network</div>
        <div class="menu-options" ng-click="selectTab(3,$event)">Hazard Zone Boundary</div>
        <div class="menu-options" ng-click="selectTab(4,$event)">Lahar Distal Zone</div>
        <div class="menu-options" ng-click="selectTab(5,$event)">Merge Rasters by Volume</div>
        <div class="menu-options" ng-click="selectTab(6,$event)">Lahar Distal Zones with Conf Levels</div>
        <div class="menu-options" ng-click="selectTab(7,$event)">Previsualization</div>
    </div>
</qVast>
<div class="tabs fist-page-laharz" ng-show="tab == 1">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Create Surface Hydrology Rasters</div>
            <div class="panel-body">
                <div class="row separator-row" >
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!--<div class="form-group">-->
                        <label for="linePointsPath" class="col-lg-2 col-md-3 col-sm-3 control-label">Input DEM</label>
                        <div class="col-lg-10 col-md-9 col-sm-9">
                            <input id="linePointsPath" type="file" class="file file-input" data-show-preview="false">
                        </div>
                        <!--</div>-->
                    </div>
                </div>
                <div class="row-prefix-string row separator-row" >
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-2 col-md-3 col-sm-3 control-label">Prefix String</div>
                            <div class="col-lg-10 col-md-9 col-sm-9">
                                <input type="text" class="col-lg-12 col-md-12 col-sm-12 form-control plugin-input" id="sParameter">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-stream-threshold row separator-row" >
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-2 col-md-3 col-sm-3 control-label">Stream Threshold</div>
                            <div class="col-lg-10 col-md-9 col-sm-9">
                                <input type="text" class="col-lg-12 col-md-12 col-sm-12 form-control plugin-input" id="sParameter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-success" ng-click="clickRUNPage1()" >RUN</button>
    </div>
</div>
<div class="tabs second-page-laharz" ng-show="tab == 2">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Generate New Stream Network</div>
            <div class="panel-body">
                <div class="row separator-row" >
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!--<div class="form-group">-->
                        <label for="linePointsPath" class="col-lg-3 col-md-4 col-sm-4 control-label">Flow Accumulation Grid</label>
                        <div class="col-lg-9 col-md-8 col-sm-8">
                            <input id="flowAcumulationGrid" type="file" class="file file-input" data-show-preview="false">
                        </div>
                        <!--</div>-->
                    </div>
                </div>
                <div class="row-stream-threshold row separator-row" >
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-3 col-md-4 col-sm-4control-label">Stream Threshold</div>
                            <div class="col-lg-9 col-md-8 col-sm-8">
                                <input type="number" class="col-lg-12 col-md-12 col-sm-12 form-control plugin-input" id="sParameter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-success" ng-click="clickRUNPage2()" >RUN</button>
    </div>
</div>
<div class="tabs third-page-laharz" ng-show="tab == 3">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Hazard Zone Boundary</div>
            <div class="panel-body">
                <div class="row separator-row" >
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!--<div class="form-group">-->
                        <label for="linePointsPath" class="col-lg-3 col-md-4 col-sm-4 control-label">Filled DEM</label>
                        <div class="col-lg-9 col-md-8 col-sm-8">
                            <input id="filledDem" type="file" class="file file-input" data-show-preview="false">
                        </div>
                        <!--</div>-->
                    </div>
                </div>
                <div class="row separator-row" >
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!--<div class="form-group">-->
                        <label for="linePointsPath" class="col-lg-3 col-md-4 col-sm-4 control-label">Stream Grid</label>
                        <div class="col-lg-9 col-md-8 col-sm-8">
                            <input id="StreamGrid" type="file" class="file file-input" data-show-preview="false">
                        </div>
                        <!--</div>-->
                    </div>
                </div>
                <div class="row-thirdPage-laharz row separator-row" >
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-3 col-md-4 col-sm-4 control-label">Slope Value</div>
                            <div class="col-lg-9 col-md-8 col-sm-8">
                                <input type="number" class="col-lg-12 col-md-12 col-sm-12 form-control plugin-input" id="sParameter">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-thirdPage-laharz row separator-row" >
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-3 col-md-4 col-sm-4 control-label">Cone Apex Type</div>
                            <div class="col-lg-9 col-md-8 col-sm-8">
                                <select type="number" class="col-lg-12 col-md-12 col-sm-12 form-control plugin-input" id="sParameter">
                                    <option value="Maximum_Elevation">Maximum Elevation</option>
                                    <option value="X_Y_coordinates">X,Y coordinates</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-thirdPage-laharz row separator-row" >
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-3 col-md-4 col-sm-4 control-label">Coordinate from textfile (Optional)</div>
                            <div class="col-lg-9 col-md-8 col-sm-8">
                                <input type="number" class="col-lg-12 col-md-12 col-sm-12 form-control plugin-input" id="sParameter">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-coordinates row separator-row">
                    <div class="form-group">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="col-lg-5 col-md-5 col-sm-5 control-label">X Coordinate</div>
                            <input type="text" class="col-lg-12 col-md-12 col-sm-12 form-control plugin-input" id="sParameter">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="col-lg-5 col-md-5 col-sm-5 control-label">Y Coordinate</div>
                            <input type="text" class="col-lg-12 col-md-12 col-sm-12 form-control plugin-input" id="sParameter">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-success" ng-click="clickRUNPage3()" >RUN</button>
    </div>
</div>
<div class="tabs four-page-laharz" ng-show="tab == 4">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Lahar Distal Zone</div>
            <div class="panel-body">
                <div class="row separator-row" >
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!--<div class="form-group">-->
                        <label for="linePointsPath" class="col-lg-3 col-md-4 col-sm-4 control-label">Filled DEM</label>
                        <div class="col-lg-9 col-md-8 col-sm-8">
                            <input id="filledDem2" type="file" class="file file-input" data-show-preview="false">
                        </div>
                        <!--</div>-->
                    </div>
                </div>
                <div class="row-fourPage-laharz row separator-row" >
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!--<div class="form-group">-->
                        <label for="linePointsPath" class="col-lg-3 col-md-4 col-sm-4 control-label">Drainage Prefix identifier</label>
                        <div class="col-lg-9 col-md-8 col-sm-8">
                            <input id="drainageUpload" type="file" class="file file-input" data-show-preview="false">
                        </div>
                        <!--</div>-->
                    </div>
                </div>
                <div class="row-fourPage-laharz row separator-row" >
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!--<div class="form-group">-->
                        <label for="linePointsPath" class="col-lg-3 col-md-4 col-sm-4 control-label">Volume File</label>
                        <div class="col-lg-9 col-md-8 col-sm-8">
                            <input id="volumeFile" type="file" class="file file-input" data-show-preview="false">
                        </div>
                        <!--</div>-->
                    </div>
                </div>
                <div class="row-fourPage-laharz row separator-row" >
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!--<div class="form-group">-->
                        <label for="linePointsPath" class="col-lg-3 col-md-4 col-sm-4 control-label">Starting Coordinates File</label>
                        <div class="col-lg-9 col-md-8 col-sm-8">
                            <input id="startingCoordinates" type="file" class="file file-input" data-show-preview="false">
                        </div>
                        <!--</div>-->
                    </div>
                </div>

                <div class="row-fourPage-laharz row separator-row" >
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-3 col-md-4 col-sm-4 control-label">Cone Apex Type</div>
                            <div class="col-lg-9 col-md-8 col-sm-8">
                                <select type="number" class="col-lg-12 col-md-12 col-sm-12 form-control plugin-input" id="sParameter">
                                    <option value="Lahar">Lahar</option>
                                    <option value="Debris_flow">Debris Flow</option>
                                    <option value="Rock_Avalanche">Rock Avalanche</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-success" ng-click="clickRUNPage4()" >RUN</button>
    </div>
</div>
<div class="tabs five-page-laharz" ng-show="tab == 5">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Merge Rasters by Volume</div>
            <div class="panel-body">
                <div class="row separator-row" >
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!--<div class="form-group">-->
                        <label for="linePointsPath" class="col-lg-3 col-md-4 col-sm-4 control-label">DEM</label>
                        <div class="col-lg-9 col-md-8 col-sm-8">
                            <input id="demUplader" type="file" class="file file-input" data-show-preview="false">
                        </div>
                        <!--</div>-->
                    </div>
                </div>
                <div class="row-fivePage-laharz row separator-row" >
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!--<div class="form-group">-->
                        <label for="linePointsPath" class="col-lg-3 col-md-4 col-sm-4 control-label">Raster List Textfile</label>
                        <div class="col-lg-9 col-md-8 col-sm-8">
                            <input id="rasterTexfileUpload" type="file" class="file file-input" data-show-preview="false">
                        </div>
                        <!--</div>-->
                    </div>
                </div>
                <div class="row-fivePage-laharz row separator-row" >
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!--<div class="form-group">-->
                        <label for="linePointsPath" class="col-lg-3 col-md-4 col-sm-4 control-label">Volume List Textfile</label>
                        <div class="col-lg-9 col-md-8 col-sm-8">
                            <input id="volumeFile2" type="file" class="file file-input" data-show-preview="false">
                        </div>
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-success" ng-click="clickRUNPage5()" >RUN</button>
    </div>
</div>
<div class="tabs six-page-laharz" ng-show="tab == 6">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Lahar Distal Zones with Conf Levels</div>
            <div class="panel-body">
                <div class="row separator-row" >
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!--<div class="form-group">-->
                        <label for="linePointsPath" class="col-lg-3 col-md-4 col-sm-4 control-label">Filled Dem</label>
                        <div class="col-lg-9 col-md-8 col-sm-8">
                            <input id="filledDem3" type="file" class="file file-input" data-show-preview="false">
                        </div>
                        <!--</div>-->
                    </div>
                </div>
                <div class="row-sixPage-laharz row separator-row" >
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-3 col-md-4 col-sm-4 control-label">Drainage Name</div>
                            <div class="col-lg-9 col-md-8 col-sm-8">
                                <input type="text" class="col-lg-12 col-md-12 col-sm-12 form-control plugin-input" id="sParameter">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-sixPage-laharz row separator-row" >
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!--<div class="form-group">-->
                        <label for="linePointsPath" class="col-lg-3 col-md-4 col-sm-4 control-label">Volume Textfile</label>
                        <div class="col-lg-9 col-md-8 col-sm-8">
                            <input id="volumeTextfileUpload" type="file" class="file file-input" data-show-preview="false">
                        </div>
                        <!--</div>-->
                    </div>
                </div>
                <div class="row-sixPage-laharz row separator-row" >
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!--<div class="form-group">-->
                        <label for="linePointsPath" class="col-lg-3 col-md-4 col-sm-4 control-label">Coordinates Textfiles</label>
                        <div class="col-lg-9 col-md-8 col-sm-8">
                            <input id="coordinateTeextfileUpload" type="file" class="file file-input" data-show-preview="false">
                        </div>
                        <!--</div>-->
                    </div>
                </div>
                <div class="row-sixPage-laharz row separator-row" >
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-3 col-md-4 col-sm-4 control-label">Confidence Limits</div>
                            <div class="col-lg-9 col-md-8 col-sm-8">
                                <select type="number" class="col-lg-12 col-md-12 col-sm-12 form-control plugin-input" id="sParameter">
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="95">95</option>
                                    <option value="97.5">97.5</option>
                                    <option value="99">99</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-success" ng-click="clickRUNPage6()" >RUN</button>
    </div>
</div>
<div class="tabs seven-page-laharz" ng-show="tab == 7">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Previsualization</div>
            <div class="panel-body">
                <dem-visualizator></dem-visualizator>
            </div>
        </div>
    </div>
</div>


