@defHeight: `window.screen.height`;
@defWidth: `window.screen.width`;

@relativeHeigthIphone6 : 667px;
@relativeWidthIphone6 : 375px;


/**
generic max min.
ahora utilizamos esta para poder hacer cualquier tag css con su max y su min para
cuando cambie de resolucion se adapte bien hasta el maximo o minimo establecido.
todo:adaptar todos los metodos anteriores a este, para tener el controlados los tamaños.(en fase refractor)
*/
.fResponsiveGenericMaxMin(@attr,@value,@min,@max) when(unit((@value/@relativeHeigthIphone6)*@defHeight,px) < @min){
        @{attr} : @min;
}
.fResponsiveGenericMaxMin(@attr,@value,@min,@max) when(unit((@value/@relativeHeigthIphone6)*@defHeight,px) > @max){
        @{attr} : @max;
}
.fResponsiveGenericMaxMin(@attr,@value,@min,@max) when(default()){
        @{attr} : unit((@value/@relativeHeigthIphone6)*@defHeight,px);
}



/**
    Flex Clases.
*/
.FlexContainerByRow(){
    ._FlexContainer();
    ._FlexContainerAttrRow();
    ._FlexContainerAttrNoWrap();
    ._FlexContainerAttrVerticalAlignItemStart();
}
.FlexContainerByColumn(){
    ._FlexContainer();
    ._FlexContainerAttrColumn();
    ._FlexContainerAttrNoWrap();
    ._FlexContainerAttrVerticalAlignItemStart();
}
.FlexBoxWidth(@size){
    ._FlexChidSize(@size);
    ._FlexChildOrder(0);
    ._FlexChildAlign(auto);
}


/**
 methods FLEX
*/
._FlexContainer(){
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

._FlexContainerAttrRow(){
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
._FlexContainerAttrColumn(){
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
._FlexContainerAttrWrap(){
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
._FlexContainerAttrNoWrap(){
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
._FlexContainerAttrJustify(@justify){
    -webkit-justify-content: @justify;
    -ms-flex-pack: @justify;
    justify-content: @justify;
}
._FlexContainerAttrJustifyStart(){
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
._FlexContainerAttrJustifyCenter(){
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
._FlexContainerAttrJustifyEnd(){
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
._FlexContainerAttrVerticalAlignItem(@align){
    -webkit-align-items: @align;
    -ms-flex-align: @align;
    align-items: @align;
}
._FlexContainerAttrVerticalAlignItemStart(){
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
._FlexContainerAttrVerticalAlignItemCenter(){
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
._FlexContainerAttrVerticalAlignItemEnd(){
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}
._FlexContainerAttrAlignContent(@content){
    -webkit-align-content: @content;
    -ms-flex-line-pack: @content;
    align-content: @content;
}
._FlexContainerAttrAlignContentStart(){
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
._FlexContainerAttrAlignContentCenter(){
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}
._FlexContainerAttrAlignContentEnd(){
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
}


._FlexChildOrder(@order){
    -webkit-order: @order;
    -ms-flex-order: @order;
    order: @order;
}
._FlexChidSize(@size){
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 unit(@size,%);
    flex: 0 1 unit(@size,%);
    max-width: unit(@size,%);
}
._FlexChildAlign(@align){
    -webkit-align-self: @align;
    -ms-flex-item-align: @align;
    align-self: @align;
}


