@import "classes";
@import "variables";
@import "modules/header";
@import "modules/hasset";
@import "modules/qlava";
@import "modules/laharz";
@import "modules/pdc";
@import "modules/qvast";
@import "modules/hazmap";
@import "modules/home";

@import "directives/DEMvisualization";

/* Header */
.logo-header{
  width: 12%;
}

/*home*/
.homeView{
  overflow: auto;
  height: 100%;
  padding: 0px;
  padding-bottom: 100px;
  margin-top: -1%;
}
.homeView .content-view{
  max-width: 100%;
  margin: 0 auto;
}
.homeView ng-map{
  height: 500px !important;
}
.homeView .content-view .contact-us-content,
.homeView .content-view .we-are-content{
  max-width: 80%;
  margin-top: 4%;
}
.homeView .content-view .contact-us-content h1,
.homeView .content-view .we-are-content h1{
  text-align: center;
  margin-bottom: 5%;
}
.homeView .content-view .we-are-content .row .box-team .tile{
  height: 400px;
}

.homeView .intro-container {
  margin-top: 5%
}

.homeView .plugins-list-container .plugin-box{
  border: 3px solid #9a9a9a;
  background-color: #34495E;
  color: white;
  border-radius: 3vh;
  text-align: center;
  padding: 0;
}
.homeView .plugins-list-container .plugin-content-box{
  flex-direction: column;
  width: 68%;
  margin-left: 16%;
  padding-bottom: 3%;
}

.homeView .plugins-list-container .plugin-box ul{
  list-style-type: none;
}

.img-carrousel::after{
  content: "";
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}
.background-efect{
  color: rgba(255,255,255,1);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index:99999;


}

/* Abstract Plugin */

.abstractPlugin{
  margin-top: 120px;
  .FlexContainerByRow();
  padding: 0px;
}

.abstractPlugin #pluginContentView.ng-leave,
.abstractPlugin #pluginMenuView.ng-leave { display:none; }

.abstractPlugin #pluginMenuView{
  width: 25%;
  background-color: #ECF0F1;
  -webkit-transition: 400ms ease-in-out;
}
.abstractPlugin #pluginMenuView .icon-open-menu{
  color:white;
  background-color: #34495E;
  width: 40px;
  height: 40px;
  .FlexContainerByRow();
  ._FlexContainerAttrJustifyCenter();
  ._FlexContainerAttrVerticalAlignItemCenter();
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  z-index: 9999999;
}
.abstractPlugin #pluginContentView{
  width: 100%;
  text-align: center;
  -webkit-transition: 200ms ease-in-out;
}
.abstractPlugin #pluginContentView .tabs{
  padding-left: 20%;
}
.abstractPlugin #pluginContentView .tabs.tabs-result{
  padding-left: 0%;
  .link {
    padding-top: 5%;
    width: 80%;
    margin: auto;
    font-size: 3vh!important;
  }
  .preview {
    margin: 5% auto;
    height: 40vw;
  }
}
.abstractPlugin #pluginMenuView .content-menu{
  -webkit-transition: 200ms ease-in-out;
  position: fixed;
  z-index: 9999999;
  width: 20%;
  border: 1px solid #34495E;
}
.abstractPlugin #pluginMenuView .content-menu div{
  .FlexContainerByColumn();
  ._FlexContainerAttrVerticalAlignItemCenter();
  padding-top: 2%;
  padding-bottom: 2%;
}
.abstractPlugin #pluginMenuView .content-menu .menu-title{
  font-size: 18px;
  background-color: #34495E;
  color:white;
  .FlexContainerByRow();
  ._FlexContainerAttrJustifyCenter();
  ._FlexContainerAttrVerticalAlignItemCenter();

}
.abstractPlugin #pluginMenuView .content-menu .menu-title .icon-title-menu{
  cursor: pointer;
}
.abstractPlugin #pluginMenuView .content-menu .menu-title .menu-title-span{
  width: 80%;
  text-align: center;
  padding-left: 10%;
}
.abstractPlugin #pluginMenuView .content-menu .menu-options{
  width: 100%;
  border-top:1px solid #34495E;
  background: white;
  font-size: 15px;
  cursor:pointer;
}

.abstractPlugin #pluginMenuView .content-menu .menu-options.disabled{
  background-color: #aaaaaa;
  color: white;
  pointer-events: none;
}

.abstractPlugin #pluginMenuView .content-menu div.active{
  background-color: #2ECC71;
  color:white;
}



// overflow button file
.btn-file{
  color: #fff!important;
  background-color: #337ab7!important;
  border-color: #2e6da4!important;
}
.separator-row{
  margin-top: 2%;
}

.line-separator{
  width: 95%;
  height: 2px;
  background: #ddd;
  margin: 0 auto;
  //margin-top: 3%;
}

.tabs2 .table-coordinates .input-coordinates{
  width: 75%;
  height: 34px;
  margin: 0 auto;
}

.tabs2 .table-coordinates .row-coordinates{
  height: 40px;
}
.tabs2 .table-coordinates tr .title-coordinates{
  text-align: center;
}

.tab3 .min-text-size {
  font-size: 13px;
}

table thead th{
  text-align: center;
}

.container-flex{
  .panel{
    max-width: 1200px;
  }
  .FlexContainerByRow();
  ._FlexContainerAttrJustifyCenter();
}

.row-eq-height-xs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-direction: row;
}

.particle-definition {
  border: 1px solid #34495E;
  border-radius: 2vh;
  padding: 2%;
  margin-bottom: 3%;
}
