<div class="container-fluid homeView" style="margin-top:5%; position:fixed; left:0px; right:0px">
    <div class="container-desktop">
        <!--/span-->
        <div class="content-view">
            <uib-carousel active="active" interval="3000" no-wrap="noWrapSlides" style="background: black">
                <uib-slide ng-repeat="slide in slides track by slide.id" class="img-carrousel" index="slide.id">
                    <img ng-src="{{slide.image}}" class="img-responsive" style="margin:auto; max-height: 650px;width: 100%;">
                    <div class="carousel-caption">
                        <h1>{{slide.title}}</h1>
                        <h6>{{slide.text}}</h6>
                        <p>{{slide.subtext}}</p>
                    </div>
                    <!--<div class="background-efect"></div>-->
                </uib-slide>
            </uib-carousel>
            <!--
            <div class="we-are-content container-fluid">
                <h1>WHO WE ARE</h1>
                <h6>CSIC Working group</h6>
                    <div class="row" ng-repeat="team in teamCsic track by $index">
                        <div class="col-xs-3 box-team" ng-repeat="user in team track by $index">
                            <div class="tile">
                                <img ng-src="{{user.image}}"  class="tile-image big-illustration img-rounded">
                                <h2 class="tile-title">{{user.name}}</h2>
                                <h7 class="tile-title">{{user.title}}</h7>
                                <p>{{user.subtext}}</p>
                                <a ng-if="user.email" href="mailto:{{user.email}}"><span class="fui-mail"></span></a>
                            </div>
                        </div>
                    </div>
            </div>
            -->

            <div class="intro-container container-fluid">
                <div class="col-xs-offset-1 col-xs-10">
                    <p>VOLCANBOX is a new platform that integrates in a systematic and sequential way a series of well-tested tools addressing various aspects of the volcanic hazard processes and risk assessment. It is a resource to build the strategies required to successfully confront and minimise the impact of future volcanic eruptions in an homogeneous way.</p>
                    <p>Before using VOLCANBOX, experts must engage community planners to discover what they need. In this way, experts who effectively use VOLCANBOX will actively work with civil protection agencies to share, unify, and exchange procedures, methodologies, and technologies, thereby reducing the effects of volcanic disasters by improving assessment and management of volcanic risk.</p>
                    <p>The application of the VOLCANBOX will help identify differences between the levels of hazard assessment in various volcanic areas and possible existing gaps in the basic information required to conduct volcanic risk management, regardless of local specific features. VOLCANBOX, if used at volcanoes across the globe, may help reveal such gaps.</p>
                </div>
            </div>

            <div class="plugins-list-container container-fluid">
                <div class="col-xs-12 text-center">
                    <h2>eTools</h2>
                </div>
                <div class="col-xs-12">
                    <div class="row row-eq-height-xs">
                        <div class="col-xs-offset-2 col-xs-4 plugin-box">
                            <h3>Spatial Analysis</h3>
                                <p>QVast</p>
                        </div>
                        <div class="col-xs-4 plugin-box">
                            <h3>Temporal Analysis</h3>
                                <p>Hasset ST</p>
                                <p>Hasset LT</p>
                        </div>
                    </div>
                    <div class="row row-eq-height-xs plugin-box plugin-content-box">
                        <h3>Simulation Models</h3>
                        <div class="row row-eq-height-xs " style="justify-content: space-between;">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 plugin-box">
                                <h3>Lava</h3>
                                <p>QLavHa</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 plugin-box">
                                <h3>Ash Fall</h3>
                                <p>Fall 3D</p>
                                <p>HazMap</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 plugin-box">
                                <h3>PDC</h3>
                                <p>Voris PDC</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 plugin-box">
                                <h3>Laharz</h3>
                                <p>Laharz</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 plugin-box">
                                <h3>Others</h3>
                                <p>Sismicity</p>
                                <p>Landslide</p>
                            </div>
                        </div>
                    </div>
                    <div class="row row-eq-height-xs plugin-box plugin-content-box">
                        <h3>Risk analysis</h3>
                        <div class="row row-eq-height-xs row" style="justify-content: space-between;">
                            <div class="col-xs-3 plugin-box">
                                <h3>Vulnerability</h3>
                                <p>Volcdam</p>
                            </div>
                            <div class="col-xs-3 plugin-box">
                                <h3>Cost Benefits</h3>
                                <p>Bademo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contact-us-content container-fluid">
                <h1><img src="assets/img/flat-ui/icons/svg/map.svg" alt="maps"> FIND US </h1>
                <h6>Institute of Earth Sciences "Jaume Almera” CSIC</h6>
                <p>Lluis Sole Sabaris s/n, 08028 Barcelona, Spain </p>
                <a href="http://www.gvb-csic.es/GVB_english/">GVB SITE</a>

                <div map-lazy-load="https://maps.google.com/maps/api/js" style="height: 500px;">
                    <ng-map default-style="true" center="41.38461,2.11970" zoom="13" style="height: 500px;">
                        <marker position="[41.38461,2.11970]" on-click="map.showInfoWindow('bar')">
                        </marker>
                        <info-window id="bar">
                            <div ng-non-bindable>
                                <div id="siteNotice"></div>
                                <h1 id="firstHeading" class="firstHeading">
                                    <img style="width: 50%" src="assets/img/logo_csic.png">
                                </h1>
                                <div id="bodyContent" style="text-align: center">
                                    <h6>Institute of Earth Sciences "Jaume Almera” CSIC</h6>
                                    <h7>Lluis Sole Sabaris s/n, 08028 Barcelona, Spain </h7>
                                    <div style="text-align: center">
                                        <a href="http://maps.google.com/maps?daddr=Lluis%20Sole%20Sabaris%20s/n,%20BARCELONA%20">
                                            To here
                                        </a>
                                        -
                                        <a href="http://maps.google.com/maps?saddr=Lluis%20Sole%20Sabaris%20s/n,%20BARCELONA%20">
                                            From here
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </info-window>
                    </ng-map>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/.fluid-container-->