<div id="pluginMenuView" ui-view="pluginMenu" ng-cloak="">
    <div ng-if="!openMenu"  class="icon-open-menu">
        <span class="fui-list" ng-click="toggleMenu()"></span>
    </div>
    <div class="content-menu open-menu" ng-if="openMenu">
        <div class="menu-title">
            <span class="menu-title-span">{{pluginSelected}}</span>
            <span ng-click="toggleMenu()" class="icon-title-menu fui-cross"></span>
        </div>
        <div class="menu-options" ng-class="{'active': tab==1}" ng-click="selectTab(1,$event)">PhD Thesis</div>
        <div class="menu-options" ng-class="{'active': tab==2}" ng-click="selectTab(2,$event)">Papers</div>
    </div>
</div>

<div class="tabs" ng-show="tab == 1">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">PhD Thesis</div>
            <div class="panel-body">
                <ul>
                    <li>Geophysical and petrological characterization of the lithospheric mantle in Iberia and North Africa, Alberto Carballo</li>
                    <li>High-pressure optical and vibrational properties of InN and InGaN, Robert Oliva</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="tabs" ng-show="tab == 2">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Papers</div>
            <div class="panel-body">
                <ul>
                    <li>Becerril, L., Galindo, I., Martí, J., Gudmundsson, A. (under review). Three-Armed Rifts or Masked Radial Pattern of Eruptive Fissures? The Intriguing Case of El Hierro Volcano (Canary Islands). Tectonophysics.</li>
                    <li>Bartolini, S., Becerril, L., Martí, J. (2014). VERDI: a new Volcanic managEment Risk Database desIgn. Journal of Volcanology and Geothermal Research, 288, 32-143. doi: 10.1016/j.jvolgeores.2014.10.009.</li>
                    <li>GEYER, A., MARTI, J. The development of ring faults during collapse caldera formation. Frontiers in Earth Sciences (2014) September 2014, Volume2, Article22, doi: 10.3389/feart.2014.00022.</li>
                    <li>BARTOLINI, S., GEYER, A., MARTI, J., PEDRAZZI, D., AGUIRRE-DIAS, G. Volcanic hazard on Deception Island (South Shetland Islands, Antárctica. Journal of Volcanology and Geothermal Research (2014). 285 (2014) 150–168. http://dx.doi.org/10.1016/j.jvolgeores.2014.08.009</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="tabs" ng-show="tab == 3">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Collaborators</div>
            <div class="panel-body">
                <ul>
                    <li>Lorem ipsum sit amet</li>
                    <li>Lorem ipsum sit amet</li>
                    <li>Lorem ipsum sit amet</li>
                    <li>Lorem ipsum sit amet</li>
                </ul>
            </div>
        </div>
    </div>
</div>
