<div id="pluginMenuView" ui-view="pluginMenu" ng-cloak="">
    <div ng-if="!openMenu"  class="icon-open-menu">
        <span class="fui-list" ng-click="toggleMenu()"></span>
    </div>
    <div class="content-menu open-menu" ng-if="openMenu">
        <div class="menu-title">
            <span class="menu-title-span">{{pluginSelected}}</span>
            <span ng-click="toggleMenu()" class="icon-title-menu fui-cross"></span>
        </div>
        <div class="menu-options" ng-class="tab==1?'active':''" ng-click="selectTab(1,$event)">Previous unrest data</div>
        <div class="menu-options" ng-class="tab==2?'active':''" ng-click="selectTab(2,$event)">unrest data</div>
    </div>
</div>
<div class="tabs" ng-show="tab == 1">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Previous unrest data</div>
            <div class="panel-body">
                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-3">
                        <label id="label_1" class="control-label">input parameters</label>
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="row separator-row" style="margin-top: 5%;margin-bottom: 5%">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="linePointsPath" class="col-lg-2 control-label">Points Path</label>
                            <div class="col-lg-10">
                                <input id="linePointsPath" type="file" class="file file-input" data-show-preview="false">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12" style="margin-top: 2%">

                        <table border="1" style="width: 80%;margin: 0 auto" >
                            <thead>
                                <tr>
                                    <th ng-repeat="data in csvData[0] track by $index" >{{data}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in csvData track by $index" ng-if="$index != 0">
                                    <td ng-repeat="data in row track by $index" ng-style="$index == 0?'width:100px':''">
                                        <input ng-value="data" style="width: 100%"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tabs" ng-show="tab == 2">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Unrest</div>
            <div class="panel-body">
                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-3">
                        <label id="label_1" class="control-label">input parameters</label>
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="row separator-row">
                    <div class="col-lg-12" style="margin-top: 2%">

                        <table border="1" style="width: 80%;margin: 0 auto" >
                            <thead>
                            <tr>
                                <th>UNREST INDICATORS</th>
                                <th>YES</th>
                                <th>NO</th>
                                <th>na</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in csvData track by $index" ng-if="$index != 0">
                                <td>{{row[0]}}</td>
                                <td><input type="radio" name="csv{{$index}}"></td>
                                <td><input type="radio" name="csv{{$index}}"></td>
                                <td><input type="radio" name="csv{{$index}}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="line-separator" style="margin-bottom: 5%;margin-top: 5%;"></div>
                <div class="row separator-row" >
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="col-lg-12" style="text-align: left;margin-bottom: 1vh">
                                <div class="col-lg-12 control-label">Volcano Name</div>
                                <input type="text" class="col-lg-12 form-control plugin-input" id="sParameter">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row separator-row" style="margin-top: 4%">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="col-lg-12" style="text-align: left;margin-bottom: 1vh">
                                <div class="col-lg-12 control-label">Year</div>
                                <input type="text" class="col-lg-12 form-control plugin-input" id="sParameter">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="col-lg-12" style="text-align: left;margin-bottom: 1vh">
                                <div class="col-lg-12 control-label">Month</div>
                                <input type="text" class="col-lg-12 form-control plugin-input" id="sParameter">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="col-lg-12" style="text-align: left;margin-bottom: 1vh">
                                <div class="col-lg-12 control-label">Day</div>
                                <input type="text" class="col-lg-12 form-control plugin-input" id="sParameter">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="col-lg-12" style="text-align: left;margin-bottom: 1vh">
                                <div class="col-lg-12 control-label">Hour</div>
                                <input type="text" class="col-lg-12 form-control plugin-input" id="sParameter">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row separator-row" style="margin-top: 4%">
                    <div class="col-lg-12" style="text-align: center">
                        <div class="form-group">
                            <div class="col-lg-12" style="text-align: center;margin-bottom: 1vh">
                                <button>EVALUATE PROBABILITIES</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div>
    <button class="btn btn-success" ng-click="clickRUN()" >RUN</button>
</div>