<div id="pluginMenuView" ui-view="pluginMenu" ng-cloak="">
    <div ng-if="!openMenu"  class="icon-open-menu">
        <span class="fui-list" ng-click="toggleMenu()"></span>
    </div>
    <div class="content-menu open-menu" ng-if="openMenu">
        <div class="menu-title">
            <span class="menu-title-span">{{pluginSelected}}</span>
            <span ng-click="toggleMenu()" class="icon-title-menu fui-cross"></span>
        </div>
        <div class="menu-options" ng-class="{'active': tab==1}" ng-click="selectTab(1,$event)">Temporal Parameters</div>
        <div class="menu-options" ng-class="{'active': tab==2}" ng-click="selectTab(2,$event)">Grid Parameters</div>
        <div class="menu-options" ng-class="{'active': tab==3}" ng-click="selectTab(3,$event)">Granulometry Parameters</div>
        <div class="menu-options" ng-class="{'active': tab==4}" ng-click="selectTab(4,$event)">Eruptive column</div>
        <div class="menu-options" ng-class="{'active': tab==5}" ng-click="selectTab(5,$event)">Aggregation</div>
        <div class="menu-options" ng-class="{'active': tab==6}" ng-click="selectTab(6,$event)">Aerosols</div>
        <div class="menu-options" ng-class="{'active': tab==7}" ng-click="selectTab(7,$event)">Gravity current</div>
        <div class="menu-options" ng-class="{'active': tab==8}" ng-click="selectTab(8,$event)">Fall 3D</div>
        <div class="menu-options" ng-class="{'active': tab==9}" ng-click="selectTab(9,$event)">Output</div>
    </div>
</div>

<!-- Temporal parameters Tab -->
<div class="tabs" ng-show="tab == 1">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Temporal parameters</div>
            <div class="panel-body">
                <!-- Database Starting -->
                <div class="row separator-row">
                    <div class="col-lg-offset-1 col-lg-10">
                        <div class="form-group">
                            <div class="row">
                                <h6>Database starting date</h6>
                            </div>
                            <div class="row">
                                <input type="date" ng-model="fall3d.databaseStartingDate"/>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Temporal options -->
                <div class="row separator-row">
                    <!-- Meteo -->
                    <div class="col-xs-offset-2 col-xs-4">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 control-label">Meteo Date</h6>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for="beginMeteo" class="col-xs-12 control-label">Begin Meteo Data</label>
                                    <input ng-model="fall3d.temporal.meteo.begin" id="beginMeteo" type="number" class="col-xs-12" placeholder="Hours after 00"/>
                                    <br/>
                                    <label for="stepMeteo" class="col-xs-12 control-label">Time step Meteo Data</label>
                                    <input ng-model="fall3d.temporal.meteo.step" id="stepMeteo" type="number" class="col-xs-12" placeholder="Minutes"/>
                                    <br/>
                                    <label for="endMeteo" class="col-xs-12 control-label">End Meteo Data</label>
                                    <input ng-model="fall3d.temporal.meteo.end" id="endMeteo" type="number" class="col-xs-12" placeholder="Hours after 00"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid Type -->
                    <div class="col-xs-4">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-xs-12 control-label">Eruption</h6>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for="eruptionStart" class="col-xs-12 control-label">Eruption start</label>
                                    <input ng-model="fall3d.temporal.eruption.start" id="eruptionStart" type="number" class="col-xs-12" placeholder="Hours after 00"/>
                                    <br/>
                                    <label for="eruptionEnd" class="col-xs-12 control-label">Eruption end</label>
                                    <input ng-model="fall3d.temporal.eruption.end" id="eruptionEnd" type="number" class="col-xs-12" placeholder="Hours after 00"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row separator-row">
                    <!-- End -->
                    <div class="col-xs-offset-2 col-xs-8">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-xs-12 control-label">Run end</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="runEnd" class="col-xs-12 control-label">End</label>
                                <input id="runEnd" ng-model="fall3d.temporal.run" type="number" class="col-xs-offset-3 col-xs-6" placeholder="Hours after 00"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Grid parameters -->
<div class="tabs" ng-show="tab == 2">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Grid parameters</div>
            <div class="panel-body">
                <!-- Domain -->
                <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                    <div class="form-group">
                        <div class="row">
                            <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Domain</h6>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label for="lonmin" class="col-xs-12 control-label">Min Longitude of Domain</label>
                                <input ng-model="fall3d.domain.lon.min" id="lonmin" type="number" class="col-xs-12" placeholder="Longitude"/>
                                <br/>
                                <label for="lonmax" class="col-xs-12 control-label">Max Longitude of Domain</label>
                                <input ng-model="fall3d.domain.lon.max" id="lonmax" type="number" class="col-xs-12" placeholder="Longitude"/>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label for="latmin" class="col-xs-12 control-label">Min Latitude of Domain</label>
                                <input ng-model="fall3d.domain.lat.min" id="latmin" type="number" class="col-xs-12" placeholder="Latitude"/>
                                <br/>
                                <label for="latmax" class="col-xs-12 control-label">Max Latitude of Domain</label>
                                <input ng-model="fall3d.domain.lat.max" id="latmax" type="number" class="col-xs-12" placeholder="Latitude"/>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Vent -->
                <div class="row separator-row">
                    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Vent</h6>
                            </div>
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-4">
                                    <label for="ventlon" class="col-xs-12 control-label">Vent Longitude</label>
                                    <input ng-model="fall3d.vent.lon" id="ventlon" type="number" class="col-xs-12" placeholder="Longitude"/>
                                </div>
                                <div class="col-xs-4">
                                    <label for="ventlat" class="col-xs-12 control-label">Vent Latitude</label>
                                    <input ng-model="fall3d.vent.lat" id="ventlat" type="number" class="col-xs-12" placeholder="Latitude"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-8">
                                    <label for="ventheight" class="col-xs-12 control-label">Vent Height</label>
                                    <input ng-model="fall3d.vent.height" id="ventheight" type="number" class="col-xs-offset-3 col-xs-6" placeholder="meters asl"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Grid -->
                <div class="row separator-row">
                    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Grid</h6>
                            </div>
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-4">
                                    <label for="nx" class="col-xs-12 control-label"># of grid nodes on X</label>
                                    <input ng-model="fall3d.grid.nx" id="nx" type="number" class="col-xs-12" placeholder="# of nodes"/>
                                </div>
                                <div class="col-xs-4">
                                    <label for="ny" class="col-xs-12 control-label"># of grid nodes on Y</label>
                                    <input ng-model="fall3d.grid.ny" id="ny" type="number" class="col-xs-12" placeholder="# of nodes"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-8">
                                    <label for="zlayer" class="col-xs-12 control-label">Z Layer</label>
                                    <input ng-model="fall3d.grid.zlayer" id="zlayer" type="number" class="col-xs-offset-3 col-xs-6" placeholder="meters"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Granulometry -->
<div class="tabs" ng-show="tab == 3">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Granulometry Parameters</div>
            <div class="panel-body">
                <!-- Distribution -->
                <div class="row separator-row">
                    <div class="col-xs-offset-2 col-xs-8">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Distribution</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <select ng-model="fall3d.granulometry.distribution">
                                        <option value="gaussian">Gaussian</option>
                                        <option value="bigaussian">BiGaussian</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="numclases" class="col-xs-12 control-label"># of clases</label>
                                    <input id="numclases" type="number" class="col-xs-offset-3 col-xs-6" placeholder="# of clases"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-4">
                                    <label for="fimean1" class="col-xs-12 control-label">Mean Φ</label>
                                    <input id="fimean1" type="number" class="col-xs-12" placeholder="Mean"/>
                                    <input id="fimean2" type="number" class="col-xs-12" placeholder="Mean" ng-show="fall3d.granulometry.distribution === 'bigaussian'"/>
                                </div>
                                <div class="col-xs-4">
                                    <label for="fidisp1" class="col-xs-12 control-label">σ</label>
                                    <input id="fidisp1" type="number" class="col-xs-12" placeholder="Dispersion"/>
                                    <input id="fidisp2" type="number" class="col-xs-12" placeholder="Dispersion" ng-show="fall3d.granulometry.distribution === 'bigaussian'"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-4">
                                    <label for="densityRange" class="col-xs-12 control-label">Density Range</label>
                                    <input ng-model="fall3d.granulometry.density.min" id="densityRange" type="number" class="col-xs-12" placeholder="Min"/>
                                    <input ng-model="fall3d.granulometry.density.max" id="densityRange2" type="number" class="col-xs-12" placeholder="Max"/>
                                </div>
                                <div class="col-xs-4">
                                    <label for="sphericityRange" class="col-xs-12 control-label">Sphericity Range</label>
                                    <input ng-model="fall3d.granulometry.sphericity.min" id="sphericityRange" type="number" class="col-xs-12" placeholder="Min"/>
                                    <input ng-model="fall3d.granulometry.sphericity.max" id="sphericityRange2" type="number" class="col-xs-12" placeholder="Max"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Eruptive column -->
<div class="tabs" ng-show="tab == 4">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Eruptive column</div>
            <div class="panel-body">
                <div class="row separator-row">
                    <div class="col-xs-offset-2 col-xs-8">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Source Type</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <select ng-model="fall3d.source.type">
                                        <option value="point">Point</option>
                                        <option value="suzuki">Suzuki</option>
                                        <option value="plume">Plume</option>
                                        <option value="resuspension">Resuspension</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row separator-row" ng-show="fall3d.source.type==='point'">
                    <div class="col-xs-offset-2 col-xs-8">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Point parameters</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="mfr" class="col-xs-12 control-label">Mass flow rate</label>
                                    <select id="mfr" ng-model="fall3d.mfr.type">
                                        <option value="array">Array</option>
                                        <option value="mastin">Estimate Mastin</option>
                                        <option value="degruyter">Estimate Degruyter</option>
                                        <option value="woodhouse">Estimate Woodhouse</option>
                                    </select>
                                    <input id="mfrarray" type="number" ng-show="fall3d.mfr.type === 'array'" class="col-xs-12" placeholder="Array of rates"/>
                                    <label for="hav" class="col-xs-12 control-label">Height above vent</label>
                                    <input id="hav" type="number" class="col-xs-12" placeholder="meters"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row separator-row" ng-show="fall3d.source.type==='suzuki'">
                    <div class="col-xs-offset-2 col-xs-8">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Suzuki parameters</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="mfr" class="col-xs-12 control-label">Mass flow rate</label>
                                    <select id="mfr" ng-model="fall3d.mfr.type">
                                        <option value="array">Array</option>
                                        <option value="mastin">Estimate Mastin</option>
                                        <option value="degruyter">Estimate Degruyter</option>
                                        <option value="woodhouse">Estimate Woodhouse</option>
                                    </select>
                                    <input id="mfrarray" type="number" ng-show="fall3d.mfr.type === 'array'" class="col-xs-12" placeholder="Array of rates"/>
                                    <br/>
                                    <label for="hav" class="col-xs-12 control-label">Height above vent</label>
                                    <input id="hav" type="number" class="col-xs-12" placeholder="meters"/>
                                    <br/>
                                    <label for="asuzuki" class="col-xs-12 control-label">Array of A-Suzuki values</label>
                                    <input id="asuzuki" type="number" class="col-xs-12" placeholder="a suzuki"/>
                                    <br/>
                                    <label for="lsuzuki" class="col-xs-12 control-label">Array of λ-Suzuki values</label>
                                    <input id="lsuzuki" type="number" class="col-xs-12" placeholder="λ suzuki"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row separator-row" ng-show="fall3d.source.type==='plume'">
                    <div class="col-xs-offset-2 col-xs-8">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Plume parameters</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="solve" class="col-xs-12 control-label">Solve Plume For</label>
                                    <select id="solve" ng-model="fall3d.plume.solve">
                                        <option value="mfr">MFR</option>
                                        <option value="height">Height</option>
                                    </select>
                                    <br/>
                                    <label for="mfrSearchRange" ng-show="fall3d.plume.solve === 'mfr'" class="col-xs-12 control-label">MFR Search Range</label>
                                    <input id="mfrSearchRange" ng-show="fall3d.plume.solve === 'mfr'" type="number" class="col-xs-12" placeholder="Min"/>
                                    <input id="mfrSearchRange2" ng-show="fall3d.plume.solve === 'mfr'" type="number" class="col-xs-12" placeholder="Max"/>
                                    <br ng-show="fall3d.plume.solve === 'mfr'"/>
                                    <label for="mfr" class="col-xs-12 control-label">Mass flow rate</label>
                                    <select id="mfr" ng-model="fall3d.mfr.type">
                                        <option value="array">Array</option>
                                        <option value="mastin">Estimate Mastin</option>
                                        <option value="degruyter">Estimate Degruyter</option>
                                        <option value="woodhouse">Estimate Woodhouse</option>
                                    </select>
                                    <input id="mfrarray" type="number" ng-show="fall3d.mfr.type === 'array'" class="col-xs-12" placeholder="Array of rates"/>
                                    <br/>
                                    <label for="hav" class="col-xs-12 control-label">Height above vent</label>
                                    <input id="hav" type="number" class="col-xs-12" placeholder="meters"/>
                                    <br/>
                                    <label for="asuzuki" class="col-xs-12 control-label">Array of A-Suzuki values</label>
                                    <input id="asuzuki" type="number" class="col-xs-12" placeholder="a suzuki"/>
                                    <br/>
                                    <label for="lsuzuki" class="col-xs-12 control-label">Array of λ-Suzuki values</label>
                                    <input id="lsuzuki" type="number" class="col-xs-12" placeholder="λ suzuki"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label for="exitVel" class="col-xs-12 control-label">Exit velocity</label>
                                    <input id="exitVel" type="number" class="col-xs-12" placeholder="m/s"/>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label for="exittmp" class="col-xs-12 control-label">Exit temperature</label>
                                    <input id="exittmp" type="number" class="col-xs-12" placeholder="ºK"/>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label for="exitvol" class="col-xs-12 control-label">Exit volatile fraction</label>
                                    <input id="exitvol" type="number" class="col-xs-12" placeholder="%"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row separator-row" ng-show="fall3d.source.type==='resuspension'">
                    <div class="col-xs-offset-2 col-xs-8">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Resuspension parameters</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="maxresuspensionsize" class="col-xs-12 control-label">Max Resuspension Size</label>
                                    <input id="maxresuspensionsize" type="number" class="col-xs-12" placeholder="μm"/>
                                    <br/>
                                    <label for="depthreshold" class="col-xs-12 control-label">Deposit Threshold</label>
                                    <input id="depthreshold" type="number" class="col-xs-12" placeholder="kg/m2"/>
                                    <br/>
                                    <label for="maxinjectionheight" class="col-xs-12 control-label">Maximum height of resuspension</label>
                                    <input id="maxinjectionheight" type="number" class="col-xs-12" placeholder="meters"/>
                                    <br/>
                                    <label for="emissiontype" class="col-xs-12 control-label"> Type of ash emission scheme</label>
                                    <select id="emissiontype" ng-model="fall3d.resuspension.emissiontype">
                                        <option value="westphal">Westphal</option>
                                        <option value="marticorena">Marticorena</option>
                                        <option value="shao">Shao</option>
                                    </select>
                                    <br/>
                                    <label for="emissionfactor" class="col-xs-12 control-label">Emission factor</label>
                                    <input id="emissionfactor" type="number" class="col-xs-12" placeholder=""/>
                                    <br/>
                                    <label ng-show="fall3d.resuspension.emissiontype === 'westphal'" for="frictionvel" class="col-xs-12 control-label">Threshold friction velocity</label>
                                    <input ng-show="fall3d.resuspension.emissiontype === 'westphal'"  id="frictionvel" type="number" class="col-xs-12" placeholder="m/s"/>
                                    <br ng-show="fall3d.resuspension.emissiontype === 'westphal'" />
                                    <label for="moisturecorrection" class="col-xs-12 control-label">Moisture correction</label>
                                    <select id="moisturecorrection">
                                        <option>Yes</option>
                                        <option>No</option>
                                    </select>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Aggregation -->
<div class="tabs" ng-show="tab == 5">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Ash Aggregation Effects</div>
            <div class="panel-body">

                <div class="row separator-row">
                    <div class="col-xs-offset-2 col-xs-8">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Aggregation Model</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <select ng-model="fall3d.aggregation.model">
                                        <option value="none">None</option>
                                        <option value="percentage">Percentatge</option>
                                        <option value="cornell">Cornell</option>
                                        <option value="costa">Costa</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="fiaggregates" class="col-xs-12 control-label">Φ−class of aggregates</label>
                                    <input id="fiaggregates" type="number" class="col-xs-12" placeholder=""/>
                                    <br/>
                                    <label for="densityaggregates" class="col-xs-12 control-label">Density of aggregates</label>
                                    <input id="densityaggregates" type="number" class="col-xs-12" placeholder=""/>
                                    <br/>
                                    <label for="correctionfactor" class="col-xs-12 control-label">Multiplicative correction factor for settling velocity of aggregates</label>
                                    <input id="correctionfactor" type="number" class="col-xs-12" placeholder=""/>
                                    <br/>
                                    <label ng-show="falld3d.aggregation.model === 'percentage'" for="perecntageaggreagtion" class="col-xs-12 control-label">Percentage of ash aggregating for classes</label>
                                    <input ng-show="falld3d.aggregation.model === 'percentage'" id="perecntageaggreagtion" type="number" class="col-xs-12" placeholder=""/>
                                    <br ng-show="falld3d.aggregation.model === 'percentage'"/>
                                    <label ng-show="falld3d.aggregation.model === 'costa'" for="fractal" class="col-xs-12 control-label">Fractal exponent</label>
                                    <input ng-show="falld3d.aggregation.model === 'costa'" id="fractal" type="number" class="col-xs-12" placeholder=""/>
                                    <br ng-show="falld3d.aggregation.model === 'costa'"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Aerosols -->
<div class="tabs" ng-show="tab == 6">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Aerosols</div>
            <div class="panel-body">
                <div class="row separator-row">
                    <!-- Aerosols -->
                    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Aerosols</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label>SO2 transport</label>
                                    <select ng-model="fall3d.aerosols.so2">
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                    <br/>
                                    <label ng-show="fall3d.aerosols.so2 === 'true'" for="percentageso2" class="col-xs-12 control-label">Percentage of SO2 with respect the total mass</label>
                                    <input ng-show="fall3d.aerosols.so2 === 'true'" id="percentageso2" type="number" class="col-xs-offset-4 col-xs-4" placeholder="%"/>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Gravity current -->
<div class="tabs" ng-show="tab == 7">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Gravity current</div>
            <div class="panel-body">
                <label>Gravitiy current model</label>
                <select ng-model="fall3d.gravity.switch">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <br/>
                <label ng-show="fall3d.gravity.switch === 'true'" for="cflowrate" class="col-xs-12 control-label">Volumetric flow rate at NBL</label>
                <input ng-show="fall3d.gravity.switch === 'true'" id="cflowrate" type="number" class="col-xs-offset-4 col-xs-4" placeholder=""/>
                <br ng-show="fall3d.gravity.switch === 'true'"/>
                <label ng-show="fall3d.gravity.switch === 'true'" for="lambdagrav" class="col-xs-12 control-label">λ</label>
                <input ng-show="fall3d.gravity.switch === 'true'" id="lambdagrav" type="number" class="col-xs-offset-4 col-xs-4" placeholder=""/>
                <br ng-show="fall3d.gravity.switch === 'true'"/>
                <label ng-show="fall3d.gravity.switch === 'true'" for="entrainment" class="col-xs-12 control-label">Entrainment coefficient</label>
                <input ng-show="fall3d.gravity.switch === 'true'" id="entrainment" type="number" class="col-xs-offset-4 col-xs-4" placeholder=""/>
                <br ng-show="fall3d.gravity.switch === 'true'"/>
                <label ng-show="fall3d.gravity.switch === 'true'" for="bruntvaisala" class="col-xs-12 control-label">Frequency of Brunt–Vaisala due to the ambient stratification</label>
                <input ng-show="fall3d.gravity.switch === 'true'" id="bruntvaisala" type="number" class="col-xs-offset-4 col-xs-4" placeholder=""/>
                <br ng-show="fall3d.gravity.switch === 'true'"/>
            </div>
        </div>
    </div>
</div>

<!-- FAll3d -->
<div class="tabs" ng-show="tab == 8">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Fall 3D</div>
            <div class="panel-body">
                <div class="row separator-row">
                    <!-- Fall 3d -->
                    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Specific variables Fall 3D</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label>Terminal settling velocity mode</label>
                                    <select ng-model="fall3d.fall3d.terminal_valocity_model">
                                        <option>Arastoopour</option>
                                        <option>Ganser</option>
                                        <option>Wilson</option>
                                        <option>Dellino</option>
                                    </select>
                                    <br/>
                                    <label>Model for vertical diffusion</label>
                                    <select ng-model="fall3d.fall3d.vertical_diffusion">
                                        <option value="constant">Constant</option>
                                        <option value="similarity">Similarity</option>
                                    </select>
                                    <br/>
                                    <label ng-show="fall3d.fall3d.vertical_diffusion === 'constant'" for="verticalcoeff" class="col-xs-12 control-label">Vertical Diffusion Coeficient</label>
                                    <input ng-show="fall3d.fall3d.vertical_diffusion === 'constant'" id="verticalcoeff" type="number" class="col-xs-offset-4 col-xs-4" placeholder="m2/s"/>
                                    <br ng-show="fall3d.fall3d.vertical_diffusion === 'constant'"/>
                                    <label>Model for horizontal diffusion</label>
                                    <select ng-model="fall3d.fall3d.horizontal_diffusion">
                                        <option value="constant">Constant</option>
                                        <option value="rams">Rams</option>
                                        <option value="cmaq">Cmaq</option>
                                    </select>
                                    <br/>
                                    <label ng-show="fall3d.fall3d.horiziontal_difussion === 'rams'" for="ramscs" class="col-xs-12 control-label">Value of CS</label>
                                    <input ng-show="fall3d.fall3d.horiziontal_difussion === 'rams'" id="ramscs" type="number" class="col-xs-offset-4 col-xs-4" placeholder="m2/s"/>
                                    <br ng-show="fall3d.fall3d.horiziontal_difussion === 'rams'"/>
                                    <label>Wet deposition</label>
                                    <select ng-model="fall3d.fall3d.wet_deposition">
                                        <option>Yes</option>
                                        <option>No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Output Configuration-->
<div class="tabs" ng-show="tab == 9">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Output configuration</div>
            <div class="panel-body">
                <!-- Output-->
                <div class="row separator-row">
                    <!-- Write list of cell coordiantes (grid out) -->
                    <div class="col-xs-offset-4 col-xs-4">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">PostProcess</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label for="postprocesshour" class="col-xs-12 control-label">Postprocess time interval in hours</label>
                                            <input id="postprocesshour" type="number" class="col-xs-offset-3 col-xs-6" placeholder="Hour"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label for="postprocess3d" class="col-xs-12 control-label">Postprocess 3D</label>
                                            <select id="postprocess3d" ng-model="fall3d.output.tresd">
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label for="postprocessclasses" class="col-xs-12 control-label">Postprocess Classes</label>
                                            <select id="postprocessclasses" ng-model="fall3d.output.classes">
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label for="postprocesstrackpoints" class="col-xs-12 control-label">Track Points</label>
                                            <select id="postprocesstrackpoints" ng-model="fall3d.output.trackpoints">
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Results -->
<div class="tabs" ng-show="tab == 10">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Results</div>
            <div class="panel-body">
                <h3>Results</h3>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- Previous Button -->
    <button ng-show="tab>0" class="btn btn-info" ng-click="tab = tab - 1;">&lt;Previous</button>
    <!-- Next button -->
    <button ng-show="tab<9" class="btn btn-info" ng-click="tab = tab + 1;">Next&gt;</button>
    <!-- Run button -->
    <button class="btn btn-success" ng-click="clickRUN()" ng-show="tab == 9">RUN</button>
</div>