<div id="pluginMenuView" ui-view="pluginMenu" ng-cloak="">
    <div ng-if="!openMenu"  class="icon-open-menu">
        <span class="fui-list" ng-click="toggleMenu()"></span>
    </div>
    <div class="content-menu open-menu" ng-if="openMenu">
        <div class="menu-title">
            <span class="menu-title-span">{{pluginSelected}}</span>
            <span ng-click="toggleMenu()" class="icon-title-menu fui-cross"></span>
        </div>
        <div class="menu-options active" ng-click="selectTab(1,$event)">Input Parameters</div>
        <div ng-show="isResults" class="menu-options" ng-click="selectTab(2,$event)">Results</div>
    </div>
</div>
<div class="tabs" ng-show="tab == 1">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Input parameters</div>
            <div class="panel-body">
                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!--<div class="form-group">-->
                            <div class="col-lg-12 col-md-12 col-sm-12 control-label" style="text-align: left;margin-bottom: 2%">DEM RASTER LAYER</div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <input id="rasterLayerInput" type="file" class="file file-input" data-show-preview="false">
                            </div>
                        <!--</div>-->
                    </div>
                </div>
                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-3">
                        <label id="label_1" class="control-label">VENT</label>
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="row separator-row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-md-3 col-sm-3">
                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: left">
                                <input type="radio" style="margin-right: 2%" class="plugin-input" name="ventRadio" id="singleVent" ng-model="input.isSingleVent" ng-value="0"><span>Single Vent</span><br/>
                                <input type="radio" style="margin-right: 2%" class="plugin-input" name="ventRadio" id="areaVent" ng-model="input.isSingleVent" ng-value="1"><span>Area</span><br/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <div class="form-group">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="col-lg-3 col-md-3 col-sm-3 control-label">x</div>
                                <input type="text" class="col-lg-12 col-md-12 col-sm-12 form-control plugin-input" id="xcoord" ng-model="input.ventCoordinateX">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="col-lg-3 col-md-3 col-sm-3 control-label">y</div>
                                <input type="text" class="col-lg-12 col-md-12 col-sm-12 form-control plugin-input" id="ycoord" ng-model="input.ventCoordinateY">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group">
                            <div class="col-lg-6 col-md-6 col-sm-9">
                                <button  class="col-lg-12 col-md-12 col-sm-12 form-control plugin-input" style="margin-top: 2.5vh" id="mapselect">Map Selection</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <label id="label_2" class="control-label">SUSCEPTIBILITY</label>
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="row separator-row" >
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: left">
                                <input type="radio" style="margin-right: 2%" class="plugin-input" name="susceptibilityValue" id="constantSusceptibility"><span>Constant</span><br/>
                                <input type="radio" style="margin-right: 2%" class="plugin-input" name="susceptibilityValue" id="varialbeSusceptibility"><span>Variable</span><br/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3" style="text-align: left">
                                <input type="checkbox" value="normalize"><span>Normalize</span>
                            </div>
                            <div class="col-lg-9">
                                 <input id="rasterLayerSusceptibility" type="file" class="file file-input" data-show-preview="false">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row separator-row" style="margin-top: 5%">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <label id="label_3" class="control-label">INPUT PARAMETERS</label>
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="row separator-row" >
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="col-lg-3 col-md-3 col-sm-3 control-label">Height</div>
                                <input type="text" ng-model="input.collapseHeight" class="col-lg-12 col-md-12 col-sm-12 form-control plugin-input" id="height">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="col-lg-3 col-md-3 col-sm-3 control-label">Angle</div>
                                <input type="text" ng-model="input.collapseAngle" class="col-lg-12 col-md-12 col-sm-12 form-control plugin-input" id="angle">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <button class="col-lg-12 col-md-12 col-sm-12 form-control plugin-input" ng-click="calculeAngle()" style="margin-top: 2.5vh">Calculate angle</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line-separator" style="margin-top: 4%"></div>
                <div class="row separator-row" >
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="col-lg-3 col-md-3 col-sm-3 control-label">X</div>
                                <input type="text" class="col-lg-12 col-md-12 col-sm-12 form-control plugin-input" id="sParameter">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="col-lg-3 col-md-3 col-sm-3 control-label">Y</div>
                                <input type="text" class="col-lg-12 col-md-12 col-sm-12 form-control plugin-input" id="sParameter">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <button class="col-lg-12 col-md-12 col-sm-12 form-control plugin-input" style="margin-top: 2.5vh">Map runout selection</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row separator-row" style="margin-top: 5vh">
                    <div class="col-lg-offset-8 col-md-offset-8 col-sm-offset-8 col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="col-lg-3 col-md-3 col-sm-3 control-label">Scale</div>
                                <input type="text" class="col-lg-12 col-md-12 col-sm-12 form-control plugin-input" id="sParameter">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="col-lg-3 col-md-3 col-sm-3 control-label">H</div>
                                <input type="text" class="col-lg-12 col-md-12 col-sm-12 form-control plugin-input" id="sParameter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tabs tabs-result" ng-show="tab == 2">
    <h3>Results</h3>
    <div class="link">
        <a ng-href="{{outputDowndload}}">Download Raster PDC Output</a>
    </div>
    <div class="preview">
        <img style="height:100%;" ng-src="{{outputPreview}}"/>
    </div>
    <!--
    <div class="preview">
        <img style="height:100%;" ng-src="{{inputPng}}"/>
    </div>
    -->
</div>

<div>
    <button class="btn" ng-class="{'btn-success': simulation == 'idle', 'btn-warning': simulation =='running'}" ng-click="runPlugin()" ng-show="tab != 2">{{simulation == 'idle' ? 'RUN SIMULATION' : ('SIMULATION IS RUNNING... ')}}</button>
</div>