<div id="pluginMenuView" ui-view="pluginMenu" ng-cloak="">
    <div ng-if="!openMenu"  class="icon-open-menu">
        <span class="fui-list" ng-click="toggleMenu()"></span>
    </div>
    <div class="content-menu open-menu" ng-if="openMenu">
        <div class="menu-title">
            <span class="menu-title-span">{{pluginSelected}}</span>
            <span ng-click="toggleMenu()" class="icon-title-menu fui-cross"></span>
        </div>
        <div class="menu-options" ng-class="{'active': tab==1}" ng-click="selectTab(1,$event)">Introduction</div>
        <div class="menu-options" ng-class="{'active': tab==2}" ng-click="selectTab(2,$event)">Spatial Analysis</div>
        <div class="menu-options" ng-class="{'active': tab==3}" ng-click="selectTab(3,$event)">Temporal Analysis</div>
        <div class="menu-options" ng-class="{'active': tab==4}" ng-click="selectTab(4,$event)">Simulation Models</div>
        <div class="menu-options" ng-class="{'active': tab==5}" ng-click="selectTab(5,$event)">Risk analysis</div>
        <div class="menu-options" ng-class="{'active': tab==6}" ng-click="selectTab(6,$event)">Vulnerability</div>
    </div>
</div>

<div class="tabs" ng-show="tab == 1">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Introduction</div>
            <div class="panel-body">
                VolcanBox is a suite where you can operate a set of different e-tools addressed to long- and short-term hazard assessment, vulnerability analysis, decision-making, and volcanic risk management.
                <br/><br/>In this section you will find a collection of manuals to operate every tool of VolcanBox suite.<br/>Use the menu on the left to navigate through the different sections.
            </div>
        </div>
    </div>
</div>

<div class="tabs" ng-show="tab == 2">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Spatial Analysis</div>
            <div class="panel-body">
                <ul>
                    <li>QVast manual</li>
                    <li>QVast FAQ</li>
                    <li>QVast Sample</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="tabs" ng-show="tab == 3">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Temporal Analysis</div>
            <div class="panel-body">
                <ul>
                    <li>Hasset ST Manual</li>
                    <li>Hasset LT Manual</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="tabs" ng-show="tab == 4">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Simulation Models</div>
            <div class="panel-body">
                <ul>
                    <li>QlavHA manual</li>
                    <li>Fall3D manual</li>
                    <li>HazMap manual</li>
                    <li>PDC manual</li>
                    <li>Lahazr manual</li>
                    <li>Sismicity manual</li>
                    <li>LandSlide manual</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="tabs" ng-show="tab == 5">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Risk Analysis</div>
            <div class="panel-body">
                <ul>
                    <li>VolcDam manual</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="tabs" ng-show="tab == 6">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Vulnerability</div>
            <div class="panel-body">
                <ul>
                    <li>Bademo manual</li>
                </ul>
            </div>
        </div>
    </div>
</div>
