<div id="pluginMenuView" ui-view="pluginMenu" ng-cloak="">
    <div ng-if="!openMenu"  class="icon-open-menu">
        <span class="fui-list" ng-click="toggleMenu()"></span>
    </div>
    <div class="content-menu open-menu" ng-if="openMenu">
        <div class="menu-title">
            <span class="menu-title-span">{{pluginSelected}}</span>
            <span ng-click="toggleMenu()" class="icon-title-menu fui-cross"></span>
        </div>
        <div class="menu-options" ng-class="{'active': tab==1}" ng-click="selectTab(1,$event)">Hazard Data</div>
        <div class="menu-options" ng-class="{'active': tab==2}" ng-click="selectTab(2,$event)">Exposure/Vulnerability Data</div>
        <div class="menu-options" ng-class="{'active': tab==3}" ng-click="selectTab(3,$event)">Weights</div>
        <div class="menu-options" ng-class="{'active': tab==4}" ng-click="selectTab(4,$event)">Custom Vulnerability Coefficients</div>
    </div>
</div>

<!-- Hazard -->
<div class="tabs" ng-show="tab == 1">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Hazard Data</div>
            <div class="panel-body">
                <!-- Inputs -->
                <div class="row separator-row">
                    <div class="col-lg-offset-1 col-lg-10">
                        <label for="lava" class="col-xs-4 control-label">Lava simulation</label>
                        <div class="col-xs-8">
                            <input id="lava" type="file" class="file file-input" data-show-preview="false">
                        </div>
                    </div>
                </div>
                <div class="row separator-row">
                    <div class="col-lg-offset-1 col-lg-10">
                        <label for="ashfall" class="col-xs-4 control-label">Ash fallout simulation</label>
                        <div class="col-xs-8">
                            <input id="ashfall" type="file" class="file file-input" data-show-preview="false">
                        </div>
                    </div>
                </div>
                <div class="row separator-row">
                    <div class="col-lg-offset-1 col-lg-10">
                        <label for="pdc" class="col-xs-4 control-label">Pyroclastic flow simulation</label>
                        <div class="col-xs-8">
                            <input id="pdc" type="file" class="file file-input" data-show-preview="false">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Exposure Vulnerabability -->
<div class="tabs" ng-show="tab == 2">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Exposure & Vulnerability Data</div>
            <div class="panel-body">
                <!-- Data inputs -->
                <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                    <div class="form-group">
                        <div class="row">
                            <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Please insert your exposure vulnerability data</h6>
                        </div>
                        <div class="row separator-row">
                            <div class="col-lg-offset-1 col-lg-10">
                                <label for="population" class="col-xs-4 control-label">Population</label>
                                <div class="col-xs-8">
                                    <input id="population" type="file" class="file file-input" data-show-preview="false">
                                </div>
                            </div>
                        </div>
                        <div class="row separator-row">
                            <div class="col-lg-offset-1 col-lg-10">
                                <label for="buildings" class="col-xs-4 control-label">Buildings</label>
                                <div class="col-xs-8">
                                    <input id="buildings" type="file" class="file file-input" data-show-preview="false">
                                </div>
                            </div>
                        </div>
                        <div class="row separator-row">
                            <div class="col-lg-offset-1 col-lg-10">
                                <label for="services" class="col-xs-4 control-label">Services</label>
                                <div class="col-xs-8">
                                    <input id="services" type="file" class="file file-input" data-show-preview="false">
                                </div>
                            </div>
                        </div>
                        <div class="row separator-row">
                            <div class="col-lg-offset-1 col-lg-10">
                                <label for="roads" class="col-xs-4 control-label">Roads</label>
                                <div class="col-xs-8">
                                    <input id="roads" type="file" class="file file-input" data-show-preview="false">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Weights -->
<div class="tabs" ng-show="tab == 3">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Vulnerability Weights</div>
            <div class="panel-body">
                <!-- Data inputs -->
                <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                    <div class="form-group">
                        <div class="row">
                            <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Please insert weights for the vulnerability layers</h6>
                        </div>
                        <div class="row separator-row">
                            <div class="col-lg-offset-1 col-lg-10">
                                <label for="population" class="col-xs-4 control-label">Population</label>
                                <div class="col-xs-8">
                                    <input id="population" type="number" placeholder="0.0">
                                </div>
                            </div>
                        </div>
                        <div class="row separator-row">
                            <div class="col-lg-offset-1 col-lg-10">
                                <label for="buildings" class="col-xs-4 control-label">Buildings</label>
                                <div class="col-xs-8">
                                    <input id="buildings" type="number" placeholder="0.0">
                                </div>
                            </div>
                        </div>
                        <div class="row separator-row">
                            <div class="col-lg-offset-1 col-lg-10">
                                <label for="services" class="col-xs-4 control-label">Services</label>
                                <div class="col-xs-8">
                                    <input id="services" type="number" placeholder="0.0">
                                </div>
                            </div>
                        </div>
                        <div class="row separator-row">
                            <div class="col-lg-offset-1 col-lg-10">
                                <label for="roads" class="col-xs-4 control-label">Roads</label>
                                <div class="col-xs-8">
                                    <input id="roads" type="number" placeholder="0.0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Custom Vulnerability Coefficients -->
<div class="tabs" ng-show="tab == 4">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Custom vulnerability coefficients</div>
            <div class="panel-body">

                <div class="row separator-row">

                    <div class="col-xs-offset-1 col-xs-5">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Transportation system</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="arterial" class="col-xs-4 control-label">Arterial roads</label>
                                    <div class="col-xs-8">
                                        <input id="arterial" type="number" placeholder="2.0">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="point" class="col-xs-4 control-label">Point features</label>
                                    <div class="col-xs-8">
                                        <input id="point" type="number" placeholder="1.5">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="collectorroads" class="col-xs-4 control-label">Collector Roads</label>
                                    <div class="col-xs-8">
                                        <input id="collectorroads" type="number" placeholder="1.0">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="localroads" class="col-xs-4 control-label">Local Roads</label>
                                    <div class="col-xs-8">
                                        <input id="localroads" type="number" placeholder="1.0">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-5">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Buildings</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="strategic" class="col-xs-4 control-label">Strategic</label>
                                    <div class="col-xs-8">
                                        <input id="strategic" type="number" placeholder="2.0">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="residential" class="col-xs-4 control-label">Residential</label>
                                    <div class="col-xs-8">
                                        <input id="residential" type="number" placeholder="1.5">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="economicactivities" class="col-xs-4 control-label">Economic activities</label>
                                    <div class="col-xs-8">
                                        <input id="economicactivities" type="number" placeholder="1.2">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="others" class="col-xs-4 control-label">Others</label>
                                    <div class="col-xs-8">
                                        <input id="others" type="number" placeholder="1.0">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row separator-row">
                    <div class="col-xs-offset-1 col-xs-5">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Population</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="population" class="col-xs-4 control-label">General population</label>
                                    <div class="col-xs-8">
                                        <input id="population" type="number" placeholder="2.0">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-5">
                        <div class="form-group">
                            <div class="row">
                                <h6 class="col-lg-12 col-md-12 col-sm-12 control-label">Urban services</h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="eNetwork" class="col-xs-4 control-label">Electricity network</label>
                                    <div class="col-xs-8">
                                        <input id="eNetwork" type="number" placeholder="2.0">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="water" class="col-xs-4 control-label">Water potabilization & supply</label>
                                    <div class="col-xs-8">
                                        <input id="water" type="number" placeholder="1.5">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="watersanitation" class="col-xs-4 control-label">Water sanitation</label>
                                    <div class="col-xs-8">
                                        <input id="watersanitation" type="number" placeholder="1.0">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<!-- Results -->
<div class="tabs" ng-show="tab == 5">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Results</div>
            <div class="panel-body">
                <h3>Results</h3>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- Previous Button -->
    <button ng-show="tab>0" class="btn btn-info" ng-click="tab = tab - 1;">&lt;Previous</button>
    <!-- Next button -->
    <button ng-show="tab<4" class="btn btn-info" ng-click="tab = tab + 1;">Next&gt;</button>
    <!-- Run button -->
    <button class="btn btn-success" ng-click="clickRUN()" ng-show="tab == 4">RUN</button>
</div>