<qVast id="pluginMenuView" ui-view="pluginMenu" ng-cloak="">
    <div ng-if="!openMenu"  class="icon-open-menu">
        <span class="fui-list" ng-click="toggleMenu()"></span>
    </div>
    <div class="content-menu open-menu" ng-if="openMenu">
        <div class="menu-title">
            <span class="menu-title-span">{{pluginSelected}}</span>
            <span ng-click="toggleMenu()" class="icon-title-menu fui-cross"></span>
        </div>
        <div class="menu-options active" ng-click="selectTab(1,$event)">Inputs</div>
        <div class="menu-options" ng-click="selectTab(2,$event)">Previsualization</div>
    </div>
</qVast>
<div class="tabs fist-page-laharz" ng-show="tab == 1">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Inputs</div>
            <div class="panel-body">
                <div class="row separator-row" >
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!--<div class="form-group">-->
                        <label for="linePointsPath" class="col-lg-2 col-md-3 col-sm-3 control-label">DEM Map</label>
                        <div class="col-lg-10 col-md-9 col-sm-9">
                            <input id="linePointsPath" type="file" class="file file-input" data-show-preview="false">
                        </div>
                        <!--</div>-->
                    </div>
                </div>
                <div class="row separator-row" >
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!--<div class="form-group">-->
                        <label for="linePointsPath" class="col-lg-2 col-md-3 col-sm-3 control-label">Angle of internal friction Map</label>
                        <div class="col-lg-10 col-md-9 col-sm-9">
                            <input id="linePointsPath1" type="file" class="file file-input" data-show-preview="false">
                        </div>
                        <!--</div>-->
                    </div>
                </div>
                <div class="row separator-row" >
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!--<div class="form-group">-->
                        <label for="linePointsPath" class="col-lg-2 col-md-3 col-sm-3 control-label">Effective Cohesion Map</label>
                        <div class="col-lg-10 col-md-9 col-sm-9">
                            <input id="linePointsPath2" type="file" class="file file-input" data-show-preview="false">
                        </div>
                        <!--</div>-->
                    </div>
                </div>
                <div class="row separator-row" >
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!--<div class="form-group">-->
                        <label for="linePointsPath" class="col-lg-2 col-md-3 col-sm-3 control-label">Effective load Map</label>
                        <div class="col-lg-10 col-md-9 col-sm-9">
                            <input id="linePointsPath3" type="file" class="file file-input" data-show-preview="false">
                        </div>
                        <!--</div>-->
                    </div>
                </div>
                <div class="row separator-row" >
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!--<div class="form-group">-->
                        <label for="linePointsPath" class="col-lg-2 col-md-3 col-sm-3 control-label">Geotechnical Map</label>
                        <div class="col-lg-10 col-md-9 col-sm-9">
                            <input id="linePointsPath4" type="file" class="file file-input" data-show-preview="false">
                        </div>
                        <!--</div>-->
                    </div>
                </div>

                <div class="row separator-row" >
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!--<div class="form-group">-->
                        <label for="linePointsPath" class="col-lg-2 col-md-3 col-sm-3 control-label">Peak ground acceleration Map</label>
                        <div class="col-lg-10 col-md-9 col-sm-9">
                            <input id="linePointsPath5" type="file" class="file file-input" data-show-preview="false">
                        </div>
                        <!--</div>-->
                    </div>
                </div>

                <div class="row-prefix-string row separator-row" >
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-2 col-md-3 col-sm-3 control-label">Moisture saturation [%]</div>
                            <div class="col-lg-10 col-md-9 col-sm-9">
                                <input type="text" class="col-lg-12 col-md-12 col-sm-12 form-control plugin-input" id="sParameter">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-success" ng-click="clickRUNPage1()">Run simulation</button>
    </div>
</div>

<div class="tabs seven-page-laharz" ng-show="tab == 7">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">Previsualization</div>
            <div class="panel-body">
                <dem-visualizator></dem-visualizator>
            </div>
        </div>
    </div>
</div>


