<div id="pluginMenuView" ui-view="pluginMenu" ng-cloak="">
    <div ng-if="!openMenu"  class="icon-open-menu">
        <span class="fui-list" ng-click="toggleMenu()"></span>
    </div>
    <div class="content-menu open-menu" ng-if="openMenu">
        <div class="menu-title">
            <span class="menu-title-span">{{pluginSelected}}</span>
            <span ng-click="toggleMenu()" class="icon-title-menu fui-cross"></span>
        </div>
        <div class="menu-options" ng-class="{'active': tab==1}" ng-click="selectTab(1,$event)">How to manage volcan risk with VOLCANBOX?</div>
        <div class="menu-options" ng-class="{'active': tab==2}" ng-click="selectTab(2,$event)">How to forecast volcanic eruptions?</div>
        <div class="menu-options" ng-class="{'active': tab==3}" ng-click="selectTab(3,$event)">How to optimize the cost/benefits on a eruptive scenario?</div>
    </div>
</div>

<div class="tabs" ng-show="tab == 1">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">How to manage volcan risk with VOLCANBOX?</div>
            <div class="panel-body">
                <h4>Introduction</h4>
                <p>In this tutorial you will learn the basics of the Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at turpis congue sapien dapibus laoreet. Aliquam non scelerisque diam. Cras a massa risus. Quisque vel fermentum massa, non blandit augue. Aliquam consectetur erat ut enim finibus dapibus. Nulla vehicula egestas metus sed rhoncus. Curabitur molestie purus urna, at gravida nisl fringilla nec</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at turpis congue sapien dapibus laoreet. Aliquam non scelerisque diam. Cras a massa risus. Quisque vel fermentum massa, non blandit augue. Aliquam consectetur erat ut enim finibus dapibus. Nulla vehicula egestas metus sed rhoncus. Curabitur molestie purus urna, at gravida nisl fringilla nec</p>

                <h4>Step 1</h4>
                <p>Pellentesque pharetra, lectus non ultrices commodo, velit arcu facilisis lectus, sit amet molestie ante nibh sed ligula. Vestibulum hendrerit augue quis congue congue. Pellentesque nec congue ipsum, eget bibendum ipsum. Nunc tincidunt lectus eu magna mollis, a dictum mi ultrices. Quisque dictum ultrices tristique. Fusce consectetur convallis lorem sed venenatis. Nulla gravida, erat ut egestas lacinia, magna odio rhoncus sem, eget mollis lorem mi at quam. Mauris vel nibh justo. Aenean in ligula at metus posuere hendrerit eu eu massa. Donec convallis, orci vehicula efficitur mollis, sapien ligula molestie velit, ut tincidunt augue urna a lectus. Vestibulum dictum nisi quis placerat pretium. Phasellus ullamcorper quis libero in feugiat. Integer sit amet lorem eget nunc scelerisque blandit.</p>

                <h4>Step 2</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at turpis congue sapien dapibus laoreet. Aliquam non scelerisque diam. Cras a massa risus. Quisque vel fermentum massa, non blandit augue. Aliquam consectetur erat ut enim finibus dapibus. Nulla vehicula egestas metus sed rhoncus. Curabitur molestie purus urna, at gravida nisl fringilla nec</p>
            </div>
        </div>
    </div>
</div>

<div class="tabs" ng-show="tab == 2">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">How to forecast volcanic eruptions?</div>
            <div class="panel-body">
                <h4>Introduction</h4>
                <p>Forecasting volcanic eruptions could be an important lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at turpis congue sapien dapibus laoreet. Aliquam non scelerisque diam. Cras a massa risus. Quisque vel fermentum massa, non blandit augue. Aliquam consectetur erat ut enim finibus dapibus. Nulla vehicula egestas metus sed rhoncus. Curabitur molestie purus urna, at gravida nisl fringilla nec</p>
                <p>Cras dictum, justo condimentum pulvinar egestas, ex tortor facilisis dui, quis posuere mi velit a lorem. Mauris imperdiet ipsum et sem consectetur, id mollis ligula gravida. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent felis magna, tempus a elit maximus, bibendum convallis nisi. Phasellus nunc libero, scelerisque nec leo id, molestie feugiat nunc. Proin et ligula mauris. Praesent turpis mauris, sollicitudin ut purus vitae, maximus molestie tellus. Praesent et magna ultrices, sollicitudin tortor ut, bibendum ex. Morbi porttitor odio diam. Pellentesque dictum eros in nulla tempus facilisis. Nullam a quam in sem imperdiet finibus. Duis tempus ornare hendrerit. Suspendisse vel consectetur enim.</p>

                <h4>Step 1</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at turpis congue sapien dapibus laoreet. Aliquam non scelerisque diam. Cras a massa risus. Quisque vel fermentum massa, non blandit augue. Aliquam consectetur erat ut enim finibus dapibus. Nulla vehicula egestas metus sed rhoncus. Curabitur molestie purus urna, at gravida nisl fringilla nec</p>

                <h4>Step 2</h4>
                <p>Pellentesque pharetra, lectus non ultrices commodo, velit arcu facilisis lectus, sit amet molestie ante nibh sed ligula. Vestibulum hendrerit augue quis congue congue. Pellentesque nec congue ipsum, eget bibendum ipsum. Nunc tincidunt lectus eu magna mollis, a dictum mi ultrices. Quisque dictum ultrices tristique. Fusce consectetur convallis lorem sed venenatis. Nulla gravida, erat ut egestas lacinia, magna odio rhoncus sem, eget mollis lorem mi at quam. Mauris vel nibh justo. Aenean in ligula at metus posuere hendrerit eu eu massa. Donec convallis, orci vehicula efficitur mollis, sapien ligula molestie velit, ut tincidunt augue urna a lectus. Vestibulum dictum nisi quis placerat pretium. Phasellus ullamcorper quis libero in feugiat. Integer sit amet lorem eget nunc scelerisque blandit.</p>

                <h4>Step 3</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at turpis congue sapien dapibus laoreet. Aliquam non scelerisque diam. Cras a massa risus. Quisque vel fermentum massa, non blandit augue. Aliquam consectetur erat ut enim finibus dapibus. Nulla vehicula egestas metus sed rhoncus. Curabitur molestie purus urna, at gravida nisl fringilla nec</p>

                <h4>Step 4</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at turpis congue sapien dapibus laoreet. Aliquam non scelerisque diam. Cras a massa risus. Quisque vel fermentum massa, non blandit augue. Aliquam consectetur erat ut enim finibus dapibus. Nulla vehicula egestas metus sed rhoncus. Curabitur molestie purus urna, at gravida nisl fringilla nec</p>
            </div>
        </div>
    </div>
</div>

<div class="tabs" ng-show="tab == 3">
    <div class="container">
        <div class="panel panel-default" style="margin-top: 3%">
            <div class="panel-heading" style="background-color: #34495E;color: white;">How to optimize the cost/benefits on a eruptive scenario?</div>
            <div class="panel-body">
                <h4>Introduction</h4>
                <p>In this tutorial you will learn the basics of the Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at turpis congue sapien dapibus laoreet. Aliquam non scelerisque diam. Cras a massa risus. Quisque vel fermentum massa, non blandit augue. Aliquam consectetur erat ut enim finibus dapibus. Nulla vehicula egestas metus sed rhoncus. Curabitur molestie purus urna, at gravida nisl fringilla nec</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at turpis congue sapien dapibus laoreet. Aliquam non scelerisque diam. Cras a massa risus. Quisque vel fermentum massa, non blandit augue. Aliquam consectetur erat ut enim finibus dapibus. Nulla vehicula egestas metus sed rhoncus. Curabitur molestie purus urna, at gravida nisl fringilla nec</p>

                <h4>Step 1</h4>
                <p>Cras dictum, justo condimentum pulvinar egestas, ex tortor facilisis dui, quis posuere mi velit a lorem. Mauris imperdiet ipsum et sem consectetur, id mollis ligula gravida. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent felis magna, tempus a elit maximus, bibendum convallis nisi. Phasellus nunc libero, scelerisque nec leo id, molestie feugiat nunc. Proin et ligula mauris. Praesent turpis mauris, sollicitudin ut purus vitae, maximus molestie tellus. Praesent et magna ultrices, sollicitudin tortor ut, bibendum ex. Morbi porttitor odio diam. Pellentesque dictum eros in nulla tempus facilisis. Nullam a quam in sem imperdiet finibus. Duis tempus ornare hendrerit. Suspendisse vel consectetur enim.</p>

                <h4>Step 2</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at turpis congue sapien dapibus laoreet. Aliquam non scelerisque diam. Cras a massa risus. Quisque vel fermentum massa, non blandit augue. Aliquam consectetur erat ut enim finibus dapibus. Nulla vehicula egestas metus sed rhoncus. Curabitur molestie purus urna, at gravida nisl fringilla nec</p>

                <h4>Step 3</h4>
                <p>Cras dictum, justo condimentum pulvinar egestas, ex tortor facilisis dui, quis posuere mi velit a lorem. Mauris imperdiet ipsum et sem consectetur, id mollis ligula gravida. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent felis magna, tempus a elit maximus, bibendum convallis nisi. Phasellus nunc libero, scelerisque nec leo id, molestie feugiat nunc. Proin et ligula mauris. Praesent turpis mauris, sollicitudin ut purus vitae, maximus molestie tellus. Praesent et magna ultrices, sollicitudin tortor ut, bibendum ex. Morbi porttitor odio diam. Pellentesque dictum eros in nulla tempus facilisis. Nullam a quam in sem imperdiet finibus. Duis tempus ornare hendrerit. Suspendisse vel consectetur enim.</p>
            </div>
        </div>
    </div>
</div>
